/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
body {
  font-family: Microsoft Yahei;
  font-size: 12px; }

.viewpersonal-main-ui {
  padding: 50px;
  min-width: 1020px;
  overflow: auto;
  background-color: #f1f1f1; }
  .viewpersonal-main-ui .viewpersonal-update {
    position: relative; }
    .viewpersonal-main-ui .viewpersonal-update .viewpersonal-mobile {
      width: 230px; }
    .viewpersonal-main-ui .viewpersonal-update .viewpersonal-email {
      width: 230px; }

.rowlinght {
  height: 25px;
  line-height: 25px;
  margin: 10px 0; }

.viewpersonal-nums {
  color: #6e7a90;
  width: 100%; }
  .viewpersonal-nums ul {
    width: 100%;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px; }
  .viewpersonal-nums .viewpersonal-col {
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-webkit-border-radius: 5px;
    border-radius: 5px; }
  .viewpersonal-nums h5 {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px #e4e6ea solid;
    padding: 0 0 15px 0;
    position: relative;
    margin-bottom: 20px; }
    .viewpersonal-nums h5 div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      text-align: center; }
    .viewpersonal-nums h5 span {
      background-color: #ffffff;
      padding: 0 8px; }
  .viewpersonal-nums .viewnums {
    font-size: 14px;
    text-align: center; }
    .viewpersonal-nums .viewnums span {
      font-size: 36px;
      margin-right: 5px;
      font-family: "Hiragino Sans GB", Arial; }
    .viewpersonal-nums .viewnums span.a1 {
      color: #b888e8; }
    .viewpersonal-nums .viewnums span.a2 {
      color: #5dc7a9; }
    .viewpersonal-nums .viewnums span.a3 {
      color: #f57665; }
    .viewpersonal-nums .viewnums span.a4 {
      color: #5bb4d8; }
    .viewpersonal-nums .viewnums span.a5 {
      color: #d9990e; }

.userFace {
  width: 130px;
  height: 120px;
  position: relative;
  float: left;
  margin-right: 20px; }
  .userFace img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-webkit-border-radius: 50%;
    border-radius: 50%; }
  .userFace .editUserIco {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px; }

.viewpersonal-user-pass {
  font-size: 36px;
  line-height: 1;
  color: #333; }
  .viewpersonal-user-pass span {
    float: left; }
  .viewpersonal-user-pass .btn-c1 {
    margin: 0 0 0 10px; }

.viewpersonal-information li {
  margin: 12px 0 0 0;
  font-size: 18px; }
.viewpersonal-information label {
  color: #6e7a90;
  font-size: 18px; }
.viewpersonal-information .c2 {
  color: #1eb6f8;
  font-size: 12px;
  background: url(../images/ico-write.png) no-repeat 5px center;
  padding: 0 0 0 25px; }

.size18 {
  font-size: 18px; }

.viewpersonal-icoEdit {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: url(../images/ico-edit.png) no-repeat;
  text-indent: -9999em; }

.viewpersonal-icoEdit:hover {
  background: url(../images/ico-edit.png) no-repeat; }

.viewpersonal-icoEdit:focus {
  background: url(../images/ico-edit.png) no-repeat; }

.viewuserinfor-all {
  margin: 0 5% 0 0;
  border-right: 1px #ffffff solid; }

.viewuserinfor-dates {
  display: inline-block;
  margin-right: 20px; }

.c1 {
  color: #1eb6f8; }

.btn-c1 {
  color: #01b282;
  margin-right: 10px; }

.btn-c2 {
  color: #cc6600; }

.viewuserinfor-place {
  position: relative;
  padding: 0 0 0 40px;
  height: 32px; }

.placeIco {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-webkit-border-radius: 50%;
  border-radius: 50%; }

.placeNum {
  position: relative;
  padding: 0 80px 0 0; }
  .placeNum .placeTip {
    color: #6e7a90;
    font-size: 14px;
    line-height: 1; }
    .placeNum .placeTip a {
      color: #999;
      font-size: 12px; }
  .placeNum span {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 70px;
    font-size: 12px;
    color: #94a1bb; }
  .placeNum .ant-progress-inner {
    background-color: #ffffff; }

.icoA .placeIco {
  background-color: #5bb4d8; }
.icoA .ant-progress-bg {
  background-color: #5bb4d8; }

.viewpersonal-forms div.label {
  line-height: 1;
  padding-bottom: 10px; }
.viewpersonal-forms .ant-input, .viewpersonal-forms .ant-select-selection {
  border-color: #d9d9d9; }
.viewpersonal-forms .ipt-btn5 {
  background-color: #d7d9de;
  color: #ffffff; }
.viewpersonal-forms .ipt-btn5:hover {
  background-color: #008bec;
  color: #ffffff; }
.viewpersonal-forms .ipt-btn5:focus {
  background-color: #008bec;
  color: #ffffff; }

.viewpersonal-works {
  background-color: #ffffff;
  padding: 15px 15px 20px 20px;
  -webkit-border-radius: 5px;
  -moz-webkit-border-radius: 5px;
  border-radius: 5px; }
  .viewpersonal-works ul {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px; }
    .viewpersonal-works ul li {
      padding: 15px 0 15px 20px;
      line-height: 20px;
      font-size: 16px; }
      .viewpersonal-works ul li a {
        color: #000; }
      .viewpersonal-works ul li .fontC3 {
        color: #37bd9c; }
        .viewpersonal-works ul li .fontC3 a {
          color: #37bd9c; }
      .viewpersonal-works ul li .tit-c1 {
        color: #b8b8b8; }
      .viewpersonal-works ul li .tit-c2 {
        visibility: hidden;
        margin-left: 5px;
        color: #37bd9c;
        font-size: 12px; }
        .viewpersonal-works ul li .tit-c2 a {
          color: #37bd9c; }
      .viewpersonal-works ul li .rad {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%; }
    .viewpersonal-works ul li:hover {
      background-color: #f1f4f7; }
      .viewpersonal-works ul li:hover .tit-c1 {
        color: #e9573e; }
      .viewpersonal-works ul li:hover .tit-c2 {
        visibility: visible; }
    .viewpersonal-works ul li.stateA .tit-c1 {
      color: #000; }
    .viewpersonal-works ul li.stateA .tit-c2 {
      font-size: 12px;
      font-style: normal; }
    .viewpersonal-works ul li.stateA:hover .tit-c2 {
      color: #557cad;
      font-style: italic; }
      .viewpersonal-works ul li.stateA:hover .tit-c2 a {
        color: #557cad; }
    .viewpersonal-works ul li:nth-child(1) .rad {
      border-color: #e9573e; }
    .viewpersonal-works ul li:nth-child(2) .rad {
      border-color: #24b498; }
    .viewpersonal-works ul li:nth-child(3) .rad {
      border-color: #00a1cb; }
    .viewpersonal-works ul li:nth-child(4) .rad {
      border-color: #5bd5d6; }
    .viewpersonal-works ul li:nth-child(5) .rad {
      border-color: #89dd5b; }
    .viewpersonal-works ul li:nth-child(6) .rad {
      border-color: #9a6bbf; }
    .viewpersonal-works ul li:nth-child(7) .rad {
      border-color: #f2c26d; }
    .viewpersonal-works ul li:nth-child(8) .rad {
      border-color: #333d79; }
    .viewpersonal-works ul li:nth-child(9) .rad {
      border-color: #ee709f; }
    .viewpersonal-works ul li:nth-child(10) .rad {
      border-color: #7a70ca; }
    .viewpersonal-works ul li:nth-child(11) .rad {
      border-color: #e48b72; }
    .viewpersonal-works ul li:nth-child(12) .rad {
      border-color: #64b0cb; }

.tit-a1 {
  font-size: 20px;
  color: #99071f; }

@media (max-width: 1200px) {
  .viewpersonal-works ul {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px; } }

/*# sourceMappingURL=index.css.map */
