@import "../../../public/css/base.scss";

.board-main-ui {
	ul {
		width: 162px;
		@include displayFlex(row);
		-webkit-flex-wrap: wrap;
		box-sizing: border-box;
		border-left: 1px solid #999;
		border-top: 1px solid #999;
		margin: 100px;
		//@include transform(rotate(25deg));

		li {
			box-sizing: border-box;
			width: 20px;
			height: 20px;
			border-right: 1px solid #999;
			border-bottom: 1px solid #999;
		}
	}
}