@import "../../../public/css/base.scss";

.board-main-ui {
		@include displayFlex(column);
		padding: 10px;
		box-sizing: border-box;
		&>header{
			height: 40px;
			line-height: 40px;;
			@include displayFlex(row);
			 justify-content: space-between;
			background: #f4f4f4;
			@include br(3px);
			overflow: hidden;
			width:100%;
			margin: 10px auto;
			&>div{
				width: 100px;
				&:nth-of-type(1){
					text-indent:2em;
					@include pos(r);
					&:before{
						content:'';
						@include pos(a);
						width: 4px;
						height: 100%;
						background:#99071e;
						left: 0;
						top: 0;
					}
				}
			}

		}
		&>.board-list{
			-webkit-flex-grow:1;
			flex-grow:1;
			width: 100%;

		}
	
}