@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-break-all {
  word-wrap: break-word;
  word-break: break-all;
}

.board-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  padding: 10px;
  box-sizing: border-box;
}

.board-main-ui > header {
  height: 40px;
  line-height: 40px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  background: #f4f4f4;
  border-radius: 3px;
  overflow: hidden;
  width: 100% !important;
}

.board-main-ui > header > div {
  width: 100px;
}

.board-main-ui > header > div:nth-of-type(1) {
  text-indent: 2em;
  position: relative;
}

.board-main-ui > header > div:nth-of-type(1):before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background: #99071e;
  left: 0;
  top: 0;
}

.board-main-ui > .board-list {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  margin-top: 10px;
  height: 80%;
}

.board-main-ui > .board-list input {
  margin-left: 20px;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px 8px;
  border: 1px solid #d9d9d9;
}

.board-main-ui > .board-list input::-webkit-input-placeholder {
  color: #d9d9d9;
}

.board-main-ui .zmiti-board-status-0 {
  color: #333;
}

.board-main-ui .zmiti-board-status-1 {
  color: green;
  font-weight: bold;
}

.board-main-ui .zmiti-board-status-2 {
  color: red;
  font-weight: bold;
}

.board-main-ui .zmiti-board-status-3 {
  color: red;
  font-weight: bold;
}

.board-main-ui .ant-table-tbody > tr > td,
.board-main-ui .ant-table-thead > tr > th {
  padding: 12px 8px;
}

.ant-table-wrapper::-webkit-scrollbar,
.wm-scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}

.ant-table-wrapper::-webkit-scrollbar-thumb,
.wm-scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.ant-table-wrapper::-webkit-scrollbar-track,
.wm-scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
