/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
h2, h3, h4, h5 {
  font-weight: normal; }

.poetryedit-main-ui {
  background: #eaedf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-flow: row;
      flex-flow: row; }
  .poetryedit-main-ui > aside:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: column;
        flex-flow: column; }
    .poetryedit-main-ui > aside:first-of-type .editpoetry-iphone {
      width: 30%;
      margin: 0 auto;
      position: relative;
      top: 50%;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0); }
    .poetryedit-main-ui > aside:first-of-type > div {
      position: relative; }
      .poetryedit-main-ui > aside:first-of-type > div input {
        background: #1092e6;
        color: #fff;
        text-align: center;
        font-size: 18px;
        height: 40px;
        width: 80%;
        top: -40px;
        display: block;
        position: absolute;
        left: 10%; }
      .poetryedit-main-ui > aside:first-of-type > div .poetryedit-btn-ground {
        position: absolute;
        right: -55px;
        top: 50px; }
        .poetryedit-main-ui > aside:first-of-type > div .poetryedit-btn-ground .poetryedit-bg-btn, .poetryedit-main-ui > aside:first-of-type > div .poetryedit-btn-ground .poetryedit-bgsound-btn {
          width: 60px;
          height: 60px;
          cursor: pointer;
          -webkit-transform: scale(0.7);
          transform: scale(0.7);
          -webkit-transform-origin: left;
          transform-origin: left; }
  .poetryedit-main-ui > aside:last-of-type {
    width: 500px;
    background: #Fff;
    position: relative; }
    .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C {
      margin-top: 50px;
      position: relative; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-next {
        text-align: center; }
        .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-next button {
          -webkit-transform: scale(1.5);
          transform: scale(1.5); }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C header {
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        text-indent: 2em;
        border-bottom: 1px solid #ccc; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui {
        width: 400px;
        height: 70%;
        left: 15%;
        top: 100px;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -ms-flex-flow: column;
            flex-flow: column; }
        .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(1) textarea {
            width: 100%;
            border: 1px solid #2db7f5;
            resize: none;
            margin-top: 10px;
            height: 47px; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(1) .poetry-operat-shareimg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            -ms-flex-flow: column;
                flex-flow: column; }
            .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(1) .poetry-operat-shareimg button {
              margin: 8px 0; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(2) {
            font-size: 18px; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(3) .poetry-publish-btn, .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(3) .poetry-back-edit {
            width: 120px;
            height: 36px;
            line-height: 36px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            font-size: 16px;
            border-radius: 5px; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(3) .poetry-publish-btn {
            background: #d8271c; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetry-share-ui section:nth-of-type(3) .poetry-back-edit {
            background: #2db7f5; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-list {
        position: absolute;
        left: -40px; }
        .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-list li {
          width: 40px;
          height: 40px;
          background: #494c57;
          color: #fff;
          text-align: center;
          cursor: pointer;
          line-height: 40px;
          font-size: 20px;
          position: relative; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-list li:not(:first-of-type) {
            margin: 10px 0; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-list li:hover span {
            opacity: 1; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-list li span {
            opacity: 0;
            position: absolute;
            width: 12px;
            height: 12px;
            right: 0;
            top: 0;
            font-size: 12px;
            line-height: 6px; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-list li.active {
            background: #108ee9; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-center {
        width: 450px;
        margin: 20px auto; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-aduio {
        font-size: 16px; }
        .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-aduio img {
          width: 40px;
          vertical-align: middle; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-content textarea {
        width: 100%;
        border: 1px solid #108ee9;
        resize: none;
        height: 120px;
        padding: 6px;
        border-radius: 6px; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-custom-btn button {
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bg-C {
        width: 480px;
        margin: 20px auto 0;
        border-radius: 10px;
        background: #f1f1f1; }
        .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bg-C ul {
          padding-top: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -ms-flex-flow: row;
              flex-flow: row;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bg-C ul li {
            width: 140px;
            cursor: pointer;
            margin: 10px;
            border-radius: 4px; }
            .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bg-C ul li.active {
              box-sizing: border-box;
              border: 2px solid #3da5e8; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bgsound-C {
        width: 480px;
        margin: 20px auto; }
        .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bgsound-C ul li {
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          font-size: 16px;
          -webkit-transition: 0.2s;
          transition: 0.2s;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -ms-flex-flow: row;
              flex-flow: row; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bgsound-C ul li:nth-of-type(2n) {
            background: #eee; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bgsound-C ul li:not(:first-of-type):hover {
            background: #1092e6;
            color: #fff; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bgsound-C ul li.active {
            background: #1092e6;
            color: #fff; }
          .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bgsound-C ul li aside {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            text-align: center;
            -webkit-flex: 1; }
            .poetryedit-main-ui > aside:last-of-type .poetryedit-right-C .poetryedit-bgsound-C ul li aside img {
              width: 30px;
              vertical-align: middle; }
    .poetryedit-main-ui > aside:last-of-type .poetryedit-save-btn {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      background: #333;
      height: 50px;
      font-size: 20px;
      color: #fff;
      line-height: 50px;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-save-btn button {
        display: none; }
      .poetryedit-main-ui > aside:last-of-type .poetryedit-save-btn:hover {
        background: #008ced; }

/*# sourceMappingURL=index.css.map */