@import "../../../public/css/base.scss";
body{
     overflow: hidden;
     background: url(../images/statistics.jpg) no-repeat center / cover;
     font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", arial, sans-serif;
   }
.zmiti-header{
	width: 66vw;
	height: 100px;
	@include pos(a);
	left: 0;
	top: 0;
	z-index: 0;
	.zmiti-work-C{
		width: 100%;
		color:#fff;
		height: 100%;
		left: 50%;
		@include transform(translate3d(-50%,0,0));
		@include pos(a);
		line-height: 100px;
		@include displayFlex(row);
		 justify-content:center;
		.zmiti-work-name{
			font-size: 2.5vw;
		}
		.zmiti-header-date{
			margin-left: 20px;
			color:#3bf3ff;
			font-size:1vw;
			height: 60px;
			@include pos(r);
			top: 20px;
			@include displayFlex();
			line-height: 30px;
			span{
				display: inline-block;
				margin:0 2px;
				font-weight: bold;
				@include animation(clock .5s infinite alternate);
			}
		}
	}
}
.zmiti-pv-C{
	width:66vw;
	height:100px;
	@include  pos(a);
	left:0;
	top:100px;
	color:#fff;
	font-size:30px;
	&>div{
		@include pos(a);
		left: 50%;
		@include transform(translate3d(-50%,0,0));
		font-size: 1vw;
		&>div{
			&:last-of-type{
				font-size: 2.5vw;
				color:#f90;
				font-weight: bold;
				i{
					font-weight: normal;
					font-size: 1vw;
					font-style:normal;
				}
			}
		}
	}
}
@-webkit-keyframes clock{
	to{
		opacity:0;
	}
}

.zmiti-main-ui{
	@include displayFlex(row);
	width: 100%;
	height: 100%;
	&>div{
		&:nth-of-type(1){
  			flex:2
		}
		&:nth-of-type(2){
			flex:1;
			@include pos(a);
			width: 33vw;
			height: 100%;
			right: 0;
			z-index: 1;
			top: 0;
		}
	}
}
.zmiti-container{
	box-sizing:border-box;
	@include pos(a);
	width: 100%;
}
.zmiti-user{
position: fixed;
right: 0;
top: 0;
text-align: center;
animation: move 10s linear forwards;
}

@-webkit-keyframes move{
 to{
    -webkit-transform:translate3d(-2000px,0,0);
 }
}
@keyframes move{
 to{
   transform:translate3d(-2000px,0,0);
 }
}

.zmiti-user img{
width: 30px;
}
.zmiti-user span{
    display: block;
    color:#fff;
    font-size: 12px;
}
