@import "../../../public/css/base.scss";
ul,li{list-style: none;padding: 0;margin: 0;}

.zmiti-text-overflow{
    overflow: hidden;
    white-space:nowrap;
    word-break:break-all;
    text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
}
.zmiti-break-all{
   word-wrap:break-word;
   word-break:break-all;
}
body{
     overflow: hidden;
     background: url(../images/statistics.jpg) no-repeat center / cover;
     font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", arial, sans-serif;
   }
   $baseColor:#3bf3ff;
.zmiti-header{
	width: 75vw;
	height: 100px;
	@include pos(a);
	left: 0;
	top: 0;
	z-index: 0;
	.zmiti-work-C{
		width: 100%;
		color:#fff;
		height: 100%;
		left: 50%;
		@include transform(translate3d(-50%,0,0));
		@include pos(a);
		line-height: 100px;
		@include displayFlex(row);
		 justify-content:center;
		.zmiti-work-name{
			font-size: 2.5vw;
		}
		.zmiti-header-date{
			margin-left: 20px;
			color:$baseColor;
			font-size:1vw;
			height: 60px;
			@include pos(r);
			top: 20px;
			@include displayFlex();
			line-height: 30px;
			span{
				display: inline-block;
				margin:0 2px;
				font-weight: bold;
				@include animation(clock .5s infinite alternate);
			}
		}
	}
}
.zmiti-pv-C{
	width:66vw;
	height:100px;
	@include  pos(a);
	left:0;
	top:100px;
	color:#fff;
	font-size:30px;
	&>div{
		@include pos(a);
		left: 50%;
		@include transform(translate3d(-50%,0,0));
		font-size: 1vw;
		&>div{
			&:last-of-type{
				margin-top: 10px;
				font-size: 2.5vw;
				color:#f90;
				font-weight: bold;
				span{
					background: #285978;
					margin:0 2px;
					padding:0 2px;
				}
				i{
					font-weight: normal;
					font-size: 1vw;
					font-style:normal;
				}
			}
		}
	}
}

.zmiti-right-header{
	color:$baseColor;
	margin: 10vh 0;
	@include displayFlex(row);
	&>aside{
		flex:1;
		text-align: center;
		div{
			font-size: .90vw;
			&:last-of-type{
				font-family: Impact;
				font-size: 1.2vw;
				color:#f90
			}	
		}
	}
}

.zmiti-tab-content{
	&.active{
		background: rgba(238,238,238,.10);
	}
	@include br(6px);
	margin: 0 auto;
	width: 98%;
}
.zmiti-tab{
	@include displayFlex(row);
	color:#a1a2a3;
	width: 40%;
	font-size: 1.5vw;
	margin: 0 auto;

	aside{
		flex:1;
		text-align: center;
		cursor: pointer;
		&.active{
			color:$baseColor;
		}
	}	 
}
.zmiti-poetry-course-C{
	color:#fff;
	@include pos(a);
	z-index: 1000;
	bottom: 20px;
	left: 80px;
	background: rgba(238,238,238,.10);
	@include br(6px);;
	header{
		color:$baseColor;
		height: 40px;
		line-height: 40px;
		@include pos(r);
		text-indent: 1em;
		&:after{
			content:'';
			@include pos(a);
			width: 100%;
			height: 8px;
			left: 0;		
			top: 100%;
			background: url(../images/bg-line.png) no-repeat center 0;
		}
	}
	.zmiti-poetry-title{
		height: 40px;
		line-height: 40px;
		@include displayFlex(row);
		span{
			display: block;
			flex:1;
			text-align: center;
		}

	}
	.zmiti-poetry-course-scroll{
		@include pos(r);
		width: 300px;
		height: 200px;
		overflow: hidden;
		li{
			height: 40px;
			line-height: 40px;
			flex:1;
			text-align: center;
			cursor: pointer;
			&:nth-of-type(2n+1){
				background: rgba(235,235,235,.05);
			}
			&:hover{
				color:#f90;
			}
			&.active{
				color:#3bf3ff;
				background: url(../images/bg.png) repeat-x center 0 / contain;
			}
			@include displayFlex(row);
			span{
				display: block;
				flex:1;
				text-align: center;
			}
		}

	}	
}


.zmiti-ranking-title{
	width:100%;
	margin: 20px auto;
	@include displayFlex(row);
	color:#a1a2a3;
	@include pos(r);
	box-sizing:border-box;
	padding: 0 10px;
	
	&:after{
		content:'';
		@include pos(a);
		width: 100%;
		height: 8px;
		left: 0;		
		top: 100%;
		background: url(../images/bg-line.png) no-repeat center 0;
	}
	li{
		height: 40px;
		line-height: 40px;
		flex:1;
		text-align: center;
		&:last-of-type{
			flex:none;
			padding: 0 3px;
		}
		cursor: pointer;
		&.active{
			color:#3bf3ff;
			background: url(../images/bg.png) repeat-x center 0 / contain;
		}
	}
}

.zmiti-ranking-sub-title{
	width: 100%;
	height: 40px;
	color: #fff;

	@include displayFlex(row);
	span{
		text-align: center;
		display: block;
		flex:1;
	}
}

.zmiti-ranking-list-scorll{
	overflow: hidden;
	@include pos(r);
}
.zmiti-ranking-list{
	color:#fff;

	li{
		width: 100%;
		height: 40px;
		line-height: 40px;
		color: #fff;
		@include displayFlex(row);
		text-align: center;
		span{
			display: block;
			flex:1;
			&:first-of-type{
				color:$baseColor;
			}

			&:last-of-type{
				color:#f90;
			}

			&:nth-of-type(2){
				max-width: 20vw;
			}
		}
		&:nth-of-type(2n+1){
			background: rgba(255,255,255,.1);
		}
		
		&:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3){
			span:first-of-type{
				color:#f90;
			}
		}
		

	}
}

.zmiti-visit-C,.zmiti-score-C{
	height: 30vh;
	width: 90%;
	margin: 20px auto;
}


@-webkit-keyframes clock{
	to{
		opacity:0;
	}
}

.zmiti-main-ui{
	@include displayFlex(row);
	width: 100%;
	height: 100%;
	&>div{
		&:nth-of-type(1){
  			flex:2
		}
		&:nth-of-type(2){
			flex:1;
			@include pos(a);
			width: 25vw;
			height: 100%;
			right: 0;
			z-index: 1;
			top: 0;
		}
	}
}
.zmiti-container{
	box-sizing:border-box;
	@include pos(a);
	width: 100%;
}
#box{
	height: 100px;
	@include pos(f);
	top: 100px;
	left: 0;
	.zmiti-user{
		border:1px solid $baseColor;
		@include br(5px);
		
		@include animation(move .5s forwards);
		@include displayFlex(row);
		padding: 4px 20px 4px 10px;
		margin: 5px auto;
		color:#fff;
		aside{
			&:first-of-type{
				text-align: right;
				margin:0 10px 0 0;
				img{vertical-align: middle;}
			}
			span{
				font-size: 14px;
			}
			span.zmiti-nickname{
				color:$baseColor;
			}
			img{
				width: 40px;
				@include br(50%);
			}
		}
	}	
}


@keyframes move{
0%{
	@include transform(translate3d(-100%,0,0));
}
 60%{
   transform:translate3d(0,0,0);
 }
}

