@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-break-all {
  word-wrap: break-word;
  word-break: break-all;
}

.wenming-datacheck-main-ui {
  width: 100%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.wenming-datacheck-main-ui .wenming-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.wenming-datacheck-main-ui .wenming-mask img {
  width: auto;
  height: auto;
  position: relative;
}

.wenming-datacheck-main-ui .wenming-mask img.show {
  z-index: 30;
}

.wenming-datacheck-main-ui .wenming-mask video {
  background: #000;
  position: relative;
  z-index: 100;
}

.wenming-datacheck-main-ui .wenming-mask div {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 13;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.wenming-datacheck-main-ui .wenming-mask div > section {
  z-index: 22;
  position: absolute;
  width: 33.3%;
  height: 100%;
  left: 0;
  top: 0;
}

.wenming-datacheck-main-ui .wenming-mask div > section:nth-of-type(2) {
  left: 33%;
}

.wenming-datacheck-main-ui .wenming-mask div > section:nth-of-type(3) {
  left: auto;
  right: 0;
}

.wenming-datacheck-main-ui .wenming-mask aside {
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  position: absolute;
}

.wenming-datacheck-main-ui .wenming-mask aside:nth-of-type(2) {
  left: auto;
  right: 0;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header {
  height: 50px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  box-sizing: border-box;
  line-height: 60px;
  text-indent: 1em;
  position: relative;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header span.active {
  color: #88b7e0;
  font-weight: bold;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #dddddd;
  bottom: 0;
  position: absolute;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 14px;
  background: #88b7e0;
  left: 0px;
  bottom: 12px;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header > div:nth-of-type(1) {
  -webkit-flex: 1;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header > div:nth-of-type(2) {
  -webkit-flex: 1;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header > div:nth-of-type(2) span {
  cursor: pointer;
}

.wenming-datacheck-main-ui > header.wenming-datacheck-header > div:nth-of-type(3) {
  color: #36b1da;
  text-align: right;
  -webkit-flex: 4;
  padding-right: 40px;
  box-sizing: border-box;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  height: 50px;
  line-height: 50px;
  width: 98%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  z-index: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar.wenming-detail-bar:after {
  display: none;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div {
  flex: 1;
  -webkit-flex: 1;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div:nth-of-type(1) {
  flex: 3;
  -webkit-flex: 3;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div:nth-of-type(1) > div {
  cursor: pointer;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div:nth-of-type(1) > div.wenming-del {
  margin: 0 20px;
  color: #88b7e0;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div:nth-of-type(1) > div.wenming-del i {
  color: red;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div i {
  color: #6db92c;
  font-size: 18px;
  margin-right: 4px;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div .wenming-datacheck-batchcheck {
  margin-right: 20px;
  vertical-align: bottom;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div .wenming-datacheck-unpass {
  margin-right: 20px;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div .wenming-datacheck-unpass i {
  color: #f4654c;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.wenming-datacheck-main-ui .wenming-datacheck-bar > div button i {
  color: #fff;
}

.wenming-datacheck-main-ui .wenming-datacheck-list {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  position: relative;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li {
  border: 1px solid #ddd;
  width: 98%;
  margin: 10px auto;
  background: #f9f9f9;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  padding: 10px 0;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li.pass, .wenming-datacheck-main-ui .wenming-datacheck-list ul > li.unpass {
  position: relative;
  border-color: #6db92c;
  overflow: hidden;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li.pass:before, .wenming-datacheck-main-ui .wenming-datacheck-list ul > li.unpass:before {
  content: '已通过';
  position: absolute;
  background: #6db92c;
  color: #fff;
  height: 20px;
  left: 0;
  width: 90px;
  height: 50px;
  text-align: center;
  line-height: 70px;
  font-size: 12px;
  top: 0;
  -webkit-transform: translate3d(-35px, -15px, 0) rotate(-45deg);
  transform: translate3d(-35px, -15px, 0) rotate(-45deg);
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li:last-of-type {
  background: transparent;
  border: none;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li.unpass {
  border-color: #f4654c;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li.unpass:before {
  content: '未通过';
  background: #f4654c;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li.wenming-datacheck-item-delete {
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  opacity: 0;
  overflow: hidden;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside:nth-of-type(1) {
  width: 70px;
  text-align: center;
  position: relative;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside:nth-of-type(1) .ant-checkbox-wrapper {
  position: relative;
  top: 40%;
  left: 10%;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-head {
  width: 40px;
  margin-right: 10px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-head img {
  border-radius: 50%;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content {
  flex: 1;
  -webkit-flex: 1;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-expand {
  float: right;
  margin: 10px 0;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-expand:after {
  content: '';
  clear: right;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-pass {
  color: #6db92c;
  margin-right: 4px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-unpass {
  color: #f4654c;
  margin-right: 4px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-edit {
  color: #999;
  margin-right: 4px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content h2 {
  font-size: 16px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-datacheck-date {
  color: #999;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-datacheck-content {
  font-size: 14px;
  max-width: 79%;
  word-break: break-all;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-datacheck-content a {
  font-size: 12px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content ol {
  clear: both;
  min-width: 660px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content ol li {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 0;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content ol li i {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 100px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content ol li:last-of-type span {
  text-decoration: underline;
  color: #007aff;
  cursor: pointer;
  font-size: 20px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-datacheck-operator {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: flex-end;
  clear: both;
  margin-top: 10px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-datacheck-operator > div {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-datacheck-operator > div > div {
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside.wenming-datacheck-item-C .wenming-datacheck-item-main-content .wenming-datacheck-operator > div > div:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside:nth-of-type(3) {
  width: 100px;
  position: relative;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside:nth-of-type(3) > div.wenming-datacheck-delete {
  cursor: pointer;
  position: absolute;
  top: 10px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside:nth-of-type(3) .wenming-sentiment {
  position: absolute;
  left: -50px;
}

.wenming-datacheck-main-ui .wenming-datacheck-list ul > li > aside:nth-of-type(3) .wenming-sentiment img {
  width: 40px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  position: relative;
}

.wenming-datacheck-main-ui .wenming-article-detail-list .wenming-detail-comment-delete {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: flex-end;
  font-size: 14px;
  margin: 10px 0;
}

.wenming-datacheck-main-ui .wenming-article-detail-list .wenming-detail-comment-delete > div {
  cursor: pointer;
  margin-left: 10px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list .wenming-detail-comment-delete > div .wenming-pass {
  color: #6db92c;
  margin-right: 4px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.wenming-datacheck-main-ui .wenming-article-detail-list .wenming-detail-comment-delete > div .wenming-unpass {
  color: #f4654c;
  margin-right: 4px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.wenming-datacheck-main-ui .wenming-article-detail-list .wenming-detail-comment-delete > div .wenming-delete {
  color: #f00;
  margin-right: 4px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.wenming-datacheck-main-ui .wenming-article-detail-list .wenming-comment-load-more {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div {
  padding-bottom: 30px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(1), .wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(3) {
  width: 100px;
  text-align: center;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(1) img, .wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(3) img {
  width: 40px;
  border-radius: 50%;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) {
  flex: 1;
  -webkit-flex: 1;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) > section {
  margin: 6px 0 0 0;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-seecomment {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: flex-end;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list {
  background: #EAEDF1;
  position: relative;
  box-sizing: border-box;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit;
  right: 50px;
  top: -4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list > div.ant-radio-group {
  margin: 10px 30px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li {
  margin: 10px auto;
  width: 90%;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li.wenming-datacheck-item-delete {
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  opacity: 0;
  overflow: hidden;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li > div {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li > div > aside img {
  width: 40px;
  border-radius: 50%;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li > div > aside:nth-of-type(1) {
  width: 80px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li > div > aside:nth-of-type(2) {
  flex: 2;
  -webkit-flex: 2;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li > div > aside:nth-of-type(3) {
  text-align: right;
  flex: 1;
  -webkit-flex: 1;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li > div > aside:nth-of-type(3) img {
  width: 100px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li ol {
  clear: both;
  min-width: 660px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li ol li {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 0;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li ol li i {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 100px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list > div > aside:nth-of-type(2) .wenming-detail-comment-list ul li ol li:last-of-type span {
  text-decoration: underline;
  color: #007aff;
  cursor: pointer;
  font-size: 20px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list ol {
  clear: both;
  min-width: 660px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
}

.wenming-datacheck-main-ui .wenming-article-detail-list ol li {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 0;
}

.wenming-datacheck-main-ui .wenming-article-detail-list ol li i {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 100px;
}

.wenming-datacheck-main-ui .wenming-article-detail-list ol li:last-of-type span {
  text-decoration: underline;
  color: #007aff;
  cursor: pointer;
  font-size: 20px;
}

.wenming-datacheck-main-ui .wenming-pagination {
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: flex-end;
  padding-right: 30px;
}

.wm-reply-modal-ui .wm-reply-content {
  width: 100%;
  border-radius: 6px;
  border-color: #2db7f5;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.wm-reply-modal-ui .ant-form-item-control {
  line-height: 32px !important;
}

.ant-modal-close-x svg {
  display: none;
}
