@import "../../../public/css/base.scss";
.zmitiwenming-keys-main-ui{
    background-color: #ffffff;
    overflow:auto;
    .zmiti-keys-header-inner{
        padding-left: 8px;
        margin-top: 10px;
        @include pos(r);
        &:before{
            content: '';
            @include pos(a);
            width:2px;
            height:100%;
            background:#88B7E0 ;
            left:0;
            @include transform(scale(1,.7));
        }
    }
    .zmiti-keys-button-right button{
        float:right;
        margin-top: 5px;
        margin-left:10px;
    }
    .zmiti-keys-line{
        height:15px;
        overflow: hidden;
        border-bottom: 1px solid #dddddd;
    }
    .zmiti-keys-spt{
        color:#cccccc;
        span{
            margin:0 10px;
        }
    }
    .zmiti-keys-sel-font{
        width:50px;
        float:left;
        line-height:30px;
        height:30px;
    }
    .zmiti-keys-sel-1{
        width:225px;
    }
    .zmiti-keys-sel-2{
        width:120px;
    }
    .zmiti-keys-sel-3{
        width:175px;
    }
    .zmiti-keys-sel-4{
        width:175px;
    }
    .zmiti-keys-sel-5{
        width:100px;
    }
    .zmiti-keys-count{
        em{
            font-style:normal;
        }
        .zmiti-keys-red{
            color:red;
        }
    }
    .zmiti-keys-ls{
        padding:0 10px;
        color:#cccccc;
    }
}
