@import "../../../public/css/base.scss";
$height: 52px;
$baseColor: #f4654c;



.wenming-ranking-main-ui {
	@include displayFlex();
	padding: 0 10px 0 10px;
	background: #ffffff;
	box-sizing: border-box;

	header.wenming-ranking {
		width: 100%;
		height: $height;
		background: #fff;
		margin: 10px auto 1px;
		@include pos(r);
		line-height: $height;
		color: #000;
		font-size: 16px;
		text-indent: 20px;

		&:before {
			content: "";
			@include pos(a);
			width: 4px;
			height: 100%;
			left: 0;
			top: 0;
			background: $baseColor;
		}
	}
	.wenming-ranking-header-inner{
		padding-left: 8px;
		margin-top: 10px;
		@include pos(r);
		&:before{
			content: '';
			@include pos(a);
			width:2px;
			height:100%;
			background:#88B7E0 ;
			left:0;
			@include transform(scale(1,.7));
		}
	}
	.wenming-ranking-button-right{
		width:360px;
		float:right;
	}
	
	.wenming-ranking-button-right button{
		float:right;
		margin-top: 5px;
	}
	.wenming-ranking-button-right button.wenming-ranking-alldate{
		display:inline-block;
		float:left;
		margin: 7px 0 0 10px;
	}	
	.wenming-ranking-line{
		clear:both;
		height:15px;
		overflow: hidden;
		border-bottom: 1px solid #dddddd;
	}
	.wenming-ranking-form{
		padding:20px 0 0 0;
		textarea{
			width:100%;
			box-sizing:border-box;
			padding: 6px 7px;
			resize:none;
			border-color: #2db7f5;
			border-radius: 3px;
		}
	}
	.wenming-ranking-actbtn{
		button{
			margin:0 5px;
		}
	}
	.wenming-ranking-imgs{
		width:40px;
		height:40px;
		img{
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-ms-border-radius: 50%;
		}		
	}
	.wenming-ranking-label{
		width:50px;
		line-height: 28px;
		text-align: right;
	}
	.wenming-ranking-sortlist{
		position: relative;
		zoom:1;		
	}
	.wenming-ranking-pos{		
		top:0;
	}
	.ant-dropdown-trigger{
		cursor: pointer;
	}
	.wenming-ranking-rangepicker{
		width:302px;
		float:right;
		padding:7px 0 0 0;
	}

}