html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.position(a) {
  position: absolute;
}

.position(r) {
  position: relative;
}

.position(f) {
  position: fixed;
}

.opacity(@value:0) {
  opacity: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  transform: @value;
}

.transformOrigin(@value) {
  -webkit-transform-origin: @value;
  transform-origin: @value;
}

.background(@bg) {
  background: @bg;
}

.backgroundSize(@value:cover) {
  background-size: @value;
}

.transition_transform(@value) {
  -webkit-transition: -webkit-transform @value;
  transition: transform @value;
}

.transform_origin(@value:center) {
  -webkit-transform-origin: @value;
  transform-origin: @value;
}

.transition(@value) {
  -webkit-transition: @value;
  transition: @value;
}

.transitionDelay(@time:0) {
  -webkit-transition-delay: @time;
  transition-delay: @time;
}

.transitionTimingFunction(@value:cubic-bezier(1, -0.025, 1, 0.865)) {
  -webkit-transition-timing-function: @value;
  transition-timing-function: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  transform: @value;
}

.background(@bg) {
  background: @bg;
}

.backgroundSize(@value:cover) {
  background-size: @value;
}

.animation(@value) {
  -webkit-animation: @value;
  animation: @value;
}

.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

.displayBox(@value) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: @value;
}

.displayFlex(@val:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: @val;
}

.fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

.fly-v-gradient-line(@minOpacity:.2,@maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, @minOpacity)), color-stop(0.5, rgba(204, 204, 204, @maxOpacity)), to(rgba(204, 204, 204, @minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, @minOpacity), rgba(204, 204, 204, @maxOpacity) 50%, rgba(204, 204, 204, @minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, @minOpacity), rgba(204, 204, 204, @maxOpacity) 50%, rgba(204, 204, 204, @minOpacity));
}
.transition-duration(@transition-duration) {
  -webkit-transition-duration: @transition-duration;
  transition-duration: @transition-duration;
}

body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}


.acc-header{

  .position(r);
  &:after{

    content: '';
    .position(a);
    width:100%;
    height:1px;
    .fly-h-gradient-line;
    bottom:0;
    left:0;
  }

  .displayFlex(row);
  article{
    flex-grow: 1;
    width:33%;
    .position(r);
    &:not(:last-of-type):before{
      content: '';
      .position(a);
      right:0;
      top:0;
      width:1px;
      height:100%;
      .fly-v-gradient-line();
    }
  }
  height:28vh;
  .acc-user{
    width:90%;
    margin:10px auto;
    .displayFlex(row);
    .acc-portrait{
      text-align: center;
      .position(r);
      padding-right:50px;
      &:after{
        content:"";
        .position(a);
        right:0;
        top:0;
        width:1px;
        height:100%;
        .fly-v-gradient-line();
      }
      img{
        padding:10px;
        width:8vw;
        height:8vw;
        border:1px solid red;
        border-radius: 50%;
        margin-bottom:10px;
      }
    }

    .acc-info{
      .displayFlex();
      margin-left:20px;
      margin-top:20px;

      section{

        flex-grow: 1;
        width:10vw;
        &.acc-user-name{
          .displayFlex(row);
          &>div{
            flex-grow: 1;
            a{
              display: block;
              color:#f90;
              &:nth-of-type(2){
                margin-top:1vh;
                color:#57c5f7;
              }
            }
          }
        }
        span{
          font-size: 22px;
          margin-top:1vh;
          display: inline-block;
        }
      }
    }
  }

  .acc-company{
    width:80%;
    .position(a);
    left:10%;
    height:7vh;
    top:10vh;
    text-align: center;
    font-family: 宋体;
    .acc-company-name{
      font-family:inherit;
        font-size:1.8vw;
    }
    .acc-department{
      .position(a);
      font-family:inherit;
      right:0;
      font-size:1vw;
    }

  }

  .acc-consume{
    width:80%;
    margin:20px auto;
    .acc-msg{
      margin-bottom: 20px;
      span{
        margin:0 10px;
      }
    }
  }
}

.ant-tabs-left{

  .ant-tabs-content{
    padding:0 !important;

    .ant-tabs-tabpane{
      opacity:0;
      .transition(.1s 200ms);
      &.show-tab{
        opacity:1;
      }
    }
  }
  height:100vh;
  .ant-tabs-nav-container{
    margin-top:30vh;
  }

  .ant-tabs-ink-bar{
    display: none !important;
  }
  .ant-tabs-tab-inner{
    color:#fff;
  }
  .ant-tabs-bar{
    background: #505366;
    height:100vh;
  }
  .ant-tabs-tab-active{
    background:#fff;
  }
}


.acc-form{
  width:1000px;
  height:200px;
  margin:20px auto;
  .displayFlex(row);
  &>div{
    flex-grow: 1;
    width:50%;
  }

  .acc-input-group{
    width:300px;
    &>span{
      margin:10px 0;
    }
  }

  .acc-form-left{
    text-align: right;
    padding-left:100px;

  }
  .ant-input-wrapper:last-of-type{
    margin-top:20px;
  }
}

