html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}
input,
textarea {
  outline: none;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
.fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, 0.2)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}
.acc-header {
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  height: 28vh;
}
.acc-header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, 0.2)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
  bottom: 0;
  left: 0;
}
.acc-header article {
  flex-grow: 1;
  width: 33%;
  position: relative;
}
.acc-header article:not(:last-of-type):before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.2)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.2)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
}
.acc-header .acc-user {
  width: 90%;
  margin: 10px auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.acc-header .acc-user .acc-portrait {
  text-align: center;
  position: relative;
  padding-right: 50px;
}
.acc-header .acc-user .acc-portrait:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.2)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.2)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
}
.acc-header .acc-user .acc-portrait img {
  padding: 10px;
  width: 8vw;
  height: 8vw;
  border: 1px solid red;
  border-radius: 50%;
  margin-bottom: 10px;
}
.acc-header .acc-user .acc-info {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  margin-left: 20px;
  margin-top: 20px;
}
.acc-header .acc-user .acc-info section {
  flex-grow: 1;
  width: 10vw;
}
.acc-header .acc-user .acc-info section.acc-user-name {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.acc-header .acc-user .acc-info section.acc-user-name > div {
  flex-grow: 1;
}
.acc-header .acc-user .acc-info section.acc-user-name > div a {
  display: block;
  color: #f90;
}
.acc-header .acc-user .acc-info section.acc-user-name > div a:nth-of-type(2) {
  margin-top: 1vh;
  color: #57c5f7;
}
.acc-header .acc-user .acc-info section span {
  font-size: 22px;
  margin-top: 1vh;
  display: inline-block;
}
.acc-header .acc-company {
  width: 80%;
  position: absolute;
  left: 10%;
  height: 7vh;
  top: 10vh;
  text-align: center;
  font-family: 宋体;
}
.acc-header .acc-company .acc-company-name {
  font-family: inherit;
  font-size: 30px;
}
.acc-header .acc-company .acc-department {
  position: absolute;
  font-family: inherit;
  right: 0;
  font-size: 16px;
}
.acc-header .acc-consume {
  width: 80%;
  margin: 20px auto;
}
.acc-header .acc-consume .acc-msg {
  margin-bottom: 20px;
}
.acc-header .acc-consume .acc-msg span {
  margin: 0 10px;
}
.ant-tabs-left {
  height: 100vh;
}
.ant-tabs-left .ant-tabs-content {
  padding: 0 !important;
}
.ant-tabs-left .ant-tabs-content .ant-tabs-tabpane {
  opacity: 0;
  -webkit-transition: 0.1s 200ms;
  transition: 0.1s 200ms;
}
.ant-tabs-left .ant-tabs-content .ant-tabs-tabpane.show-tab {
  opacity: 1;
}
.ant-tabs-left .ant-tabs-nav-container {
  margin-top: 30vh;
}
.ant-tabs-left .ant-tabs-ink-bar {
  display: none !important;
}
.ant-tabs-left .ant-tabs-tab-inner {
  color: #fff;
}
.ant-tabs-left .ant-tabs-bar {
  background: #505366;
  height: 100vh;
}
.ant-tabs-left .ant-tabs-tab-active {
  background: #fff;
}
