/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
h2, h3, h4, h5 {
  font-weight: normal; }

.wxchat-main-ui {
  width: 100%;
  height: 100%;
  overflow: auto; }
  .wxchat-main-ui > .hide {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .wxchat-main-ui > .show {
    opacity: 1;
    z-index: 10;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .wxchat-main-ui .wxchat-main-content {
    width: 1000px;
    height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: row;
        flex-flow: row;
    margin: 0 auto; }
    .wxchat-main-ui .wxchat-main-content aside:last-of-type {
      margin-left: 40px; }
    .wxchat-main-ui .wxchat-main-content img {
      height: 100%;
      width: auto; }
  .wxchat-main-ui .wxchat-members h2, .wxchat-main-ui .wxchat-title h2 {
    font-size: 18px;
    color: #000; }
    .wxchat-main-ui .wxchat-members h2 span, .wxchat-main-ui .wxchat-title h2 span {
      font-size: 14px;
      color: #ccc; }
  .wxchat-main-ui .wxchat-title h2 {
    margin-bottom: 10px; }
  .wxchat-main-ui .wxchat-members {
    margin-top: 40px; }
  .wxchat-main-ui .wxchat-members-scroll {
    max-width: 448px;
    margin-top: 10px;
    max-height: 420px;
    margin-left: -10px;
    position: relative;
    overflow: hidden; }
    .wxchat-main-ui .wxchat-members-scroll ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -ms-flex-flow: row;
          flex-flow: row;
      -webkit-flex-wrap: wrap; }
      .wxchat-main-ui .wxchat-members-scroll ul li {
        position: relative;
        width: 100px;
        margin: 5px 5px 5px 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -ms-flex-flow: column;
            flex-flow: column; }
        .wxchat-king {
          position: absolute;
          left: 0;
          top: 0;
          width: 24px;
          height: 24px; }
        .wxchat-main-ui .wxchat-members-scroll ul li:hover .wxchat-member-bar {
          display: block; }
        .wxchat-main-ui .wxchat-members-scroll ul li:hover > div:first-of-type {
          border-color: #008ced; }
        .wxchat-main-ui .wxchat-members-scroll ul li .wxchat-member-bar {
          position: absolute;
          left: -73px;
          display: none;
          padding-right: 3px; }
          .wxchat-main-ui .wxchat-members-scroll ul li .wxchat-member-bar.active {
            right: -76px;
            left: auto;
            z-index: 100;
            padding-left: 3px; }
          .wxchat-main-ui .wxchat-members-scroll ul li .wxchat-member-bar aside {
            margin-right: 3px;
            border: 1px solid #008ced;
            background: #fff;
            color: #008ced;
            width: 70px;
            text-align: center;
            margin: 5px 0;
            height: 26px;
            line-height: 26px;
            border-radius: 3px;
            cursor: pointer;
            -webkit-transition: 0.2s;
            transition: 0.2s; }
            .wxchat-main-ui .wxchat-members-scroll ul li .wxchat-member-bar aside:hover {
              background: #008ced;
              color: #fff; }
            .wxchat-main-ui .wxchat-members-scroll ul li .wxchat-member-bar aside:first-of-type {
              margin: 6px 0; }
        .wxchat-main-ui .wxchat-members-scroll ul li input {
          background: transparent;
          border: none;
          text-align: center; }
        .wxchat-main-ui .wxchat-members-scroll ul li .ant-input:focus {
          outline: 0;
          box-shadow: 0 0 0 1px rgba(0, 140, 237, 0);
          border: 1px dashed rgba(0, 140, 237, 0.6); }
        .wxchat-main-ui .wxchat-members-scroll ul li div {
          width: 100%;
          height: 100px; }
          .wxchat-main-ui .wxchat-members-scroll ul li div:first-of-type {
            border: 1px solid #ccc; }
            .wxchat-main-ui .wxchat-members-scroll ul li div:first-of-type section {
              width: 80%;
              height: 80%;
              margin: 10%; }
          .wxchat-main-ui .wxchat-members-scroll ul li div:last-of-type {
            height: auto;
            margin-top: 5px; }
  .wxchat-main-ui .wxchat-sure-btn {
    margin-top: 60px;
    width: 180px;
    height: 50px;
    background: #d8271c;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    outline: none;
    cursor: pointer; }

/*# sourceMappingURL=index.css.map */