@import "../../../public/css/base.scss";

h2,h3,h4,h5{
  font-weight: normal;
}
.wxchat-main-ui{
  width: 100%;
  height: 100%;
  overflow:auto;
  &>.hide{
    opacity:0;
    @include transition(.5s);
  }
  .wxchat-main-stage{//main - stage
    opacity:0;
    z-index: -1;
    @include pos(a);
    top:0;
    width:100%;
    height: 90vh;
    @include displayFlex(row);
    &>aside{
      &:first-of-type{
        flex:1;
        @include pos(r);
        .wxchat-phone-container{
            @include pos(a);
            left: 50%;
            top:50%;
            width:286px;
            height:600px;
            @include transform(translate(-50%,-50%));

            .wxchat-talk-main{
              width:260px;
              margin:85px auto;
              border:5px solid #858b9d;
              @include br(3px);
              box-sizing:border-box;
              height: 440px;
              @include displayFlex();
              .wxchat-talk-header{
                width:100%;
                height: 50px;
                overflow:hidden;
                &>div{
                  color:#fff;
                  text-align: center;
                  margin-top: 25px;

                  span{
                    &:first-of-type{
                      background:#333;
                      display: inline-block;
                      padding: 0 4px 3px 4px;
                      @include br(3px);
                      overflow:hidden;
                      max-width: 120px;
                    }
                  }
                }
              }
              .wxchat-talk-body{
                 flex:1;
                 overflow: hidden;
                 background-color:#ccc;
              }
              .wxchat-talk-footer{
                width:100%;
                height: 34px;
              }
            }
        }
      }
      &:last-of-type{
         width:600px;
      }
    }

  }
  &>.show{
    opacity:1;
    z-index: 10;
    @include transition(.5s);
  }
  .wxchat-main-content{
    width:1000px;
    height: 85vh;
    @include displayFlex(row);
    aside:last-of-type{
      margin-left: 40px;
    }
    margin: 0 auto;
    img{
      height: 100%;
      width:auto;;
    }
  }

  .wxchat-members,.wxchat-title{
    h2{
      font-size:18px;
      color:#000;
      span{
        font-size: 14px;
        color:#ccc;
      }
    }
  }

  .wxchat-title{
    h2{
      margin-bottom: 10px;
    }
  }
  .wxchat-members{
    margin-top: 40px;
  }

  .wxchat-members-scroll{
    max-width: 448px;
    margin-top:10px;
    max-height: 420px;
    margin-left: -10px;

    overflow: auto;
    ul{
      width:100%;
       @include displayFlex(row);
       -webkit-flex-wrap:wrap;
      li{
        @include pos(r);
        .wxchat-king{
          @include pos(a);
          left: 0;
          top:0;
          width:24px;
          height: 24px;
        }
        width:100px;
        margin:5px 5px 5px 6px;
        @include displayFlex();
        div{
          &:first-of-type{
            border:1px solid #ccc;
            section{
              width:80%;
              height: 80%;
              margin: 10%;
            }
          }
          width:100%;
          height:100px;
          &:last-of-type{
             height:auto;
             margin-top: 5px;
          }
        }
      }
    }
  }

  .wxchat-sure-btn{
    margin-top: 60px;
    width: 180px;
    height: 50px;
    background: #d8271c;
    color:#fff;
    border:none;
    font-size: 20px;
    @include br(8px);
    outline: none;
    cursor:pointer;
  }
}