@import "../../../public/css/base.scss";
.wxchat-list-main-ui{
	.wxchat-list-C{
		width:94%;
		margin:0 auto;
		.wxchat-list{

			@include displayFlex(row);
			-webkit-flex-wrap:wrap;
       		flex-wrap:wrap;
       		li{
				&:first-of-type{
					cursor: pointer;
				}
       			margin:11px;
       			$size:200px;
       			@include pos(r);
       			width:$size;
       			height:$size + 40;
       			box-sizing:border-box;
       			&:not(:first-of-type){
       				background-color: rgba(0,0,0,.8);
       			}
       			.wxchat-item-shareimg{
       				height:$size;
       			}
       			.wxchat-item-name{
       				color:#fff;
       				margin:10px;
       				font-size: 12px;
       				white-space:nowrap;
                    word-break:break-all;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    -webkit-text-overflow:ellipsis;
       			}
       			&:hover{
       				.wxchat-item-operator{
       					display:block;
       				}
       			}
       			.wxchat-item-operator{
					width:50px;
					z-index: 10; 
					display:none;
					text-align: center;
					padding-left: 2px;
					@include pos(a);
					top:0;
					left:100%;
					&>div{

						@include transition(.2s);
						&:hover{
							background:#2db7f5;
							color:#fff;
							a{color:#fff;}
						}
						cursor:pointer;
						background:#fff;
						&:nth-of-type(2){
							margin:2px 0;
						}
						@include br(3px);
						color:#2db7f5;
						a{color:#2db7f5;}
						font-size: 12px;
						border:1px solid #2db7f5;

					}
       			}
       		}
		}
	}	 
}
 