/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-break-all {
  word-wrap: break-word;
  word-break: break-all; }

.wxchat-list-main-ui .wxchat-list-C {
  width: 94%;
  margin: 0 auto; }
  .wxchat-list-main-ui .wxchat-list-C .wxchat-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: row;
        flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .wxchat-list-main-ui .wxchat-list-C .wxchat-list li {
      margin: 11px;
      position: relative;
      width: 200px;
      height: 240px;
      box-sizing: border-box; }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li:first-of-type {
        cursor: pointer; }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li:not(:first-of-type) {
        background-color: rgba(0, 0, 0, 0.6); }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-shareimg {
        height: 200px; }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-view {
        position: absolute;
        width: 20px;
        bottom: 5px;
        right: 10px;
        cursor: pointer; }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-name {
        color: #fff;
        margin: 10px;
        font-size: 12px;
        white-space: nowrap;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis; }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li:hover .wxchat-item-operator {
        display: block; }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li:hover .wxchat-qrcode {
        -webkit-transform: scale(1);
        transform: scale(1); }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-qrcode {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        -webkit-transform: scale(0);
        transform: scale(0); }
      .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-operator {
        width: 50px;
        z-index: 10;
        display: none;
        text-align: center;
        padding-left: 2px;
        position: absolute;
        top: 0;
        left: 100%; }
        .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-operator a {
          display: block;
          width: 100%;
          height: 100%; }
        .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-operator > div {
          -webkit-transition: 0.2s;
          transition: 0.2s;
          cursor: pointer;
          background: #fff;
          border-radius: 3px;
          color: #2db7f5;
          font-size: 12px;
          border: 1px solid #2db7f5; }
          .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-operator > div:hover {
            background: #2db7f5;
            color: #fff; }
            .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-operator > div:hover a {
              color: #fff; }
          .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-operator > div:nth-of-type(2) {
            margin: 2px 0; }
          .wxchat-list-main-ui .wxchat-list-C .wxchat-list li .wxchat-item-operator > div a {
            color: #2db7f5; }

/*# sourceMappingURL=list.css.map */