@import "../../../public/css/base.scss";

h2,h3,h4,h5{
  font-weight: normal;
}
 .qaedit-main-ui{
    height: 100%;
     background: #eaedf1;
    @include displayFlex(row);
    &>aside{
      &:first-of-type{
        -webkit-flex:1;
        flex:1;
        @include pos(r);
        @include displayFlex();
        .editpoetry-iphone{
           width:286px;
           height: 600px;
            margin: 0 auto;
            @include pos(r);
            top: 50%;
            @include transform(translate3d(0,-50%,0));
            .zmiti-edit-phone-C{
              width: 90%;
              height: 450px;
              border:5px solid #ccc;
              @include pos(r);
              @include br(3px);
              box-sizing:border-box;
              margin: 80px auto;
              @include displayFlex();
              .qaedit-phone-body{
                 width:100%;
                 flex:1;
                 -webkit-flex:1;
                 @include pos(r);
                 overflow: hidden;
                  header{
                     width: 100%;
                     margin: 0 auto;
                     @include pos(r);
                     z-index: 10;
                     height: 35px;
                     line-height: 35px;
                     background: #fff;
                     @include displayFlex(row);
                     &>aside{
                       -webkit-flex:1;
                       flex:1;
                       margin-left: 20px;
                       &:first-of-type{
                         span{
                          color:#999;
                         }
                       }
                       &:last-of-type{
                          -webkit-flex:2;
                        flex:2;
                        text-align: right;
                        @include displayFlex(row);
                        &>div{
                           &:first-of-type{
                             margin-top: 10px;
                             margin-right: 20px;
                           }
                            color:#999;
                            span{
                              color:#f66;
                            }
                        }
                       }
                     }
                   } 

                   .editqa-question-list-C{
                     
                     &.left{
                        @include transform(translate3d(-286px,0,0));
                        @include transition(.35s);
                        z-index: 1;
                        .iScrollVerticalScrollbar{
                          display: none !important;;
                        }
                      }
                      &.active{
                        @include transform(translate3d(0,0,0)); 
                        @include transition(.2s);
                        z-index: 2;
                      }
                      &.right{
                        @include transform(translate3d(286px,0,0));
                        z-index: 3;
                      }
                      width: 248px;
                      overflow: hidden;
                      @include pos(a);
                      top: 0px;
                      box-sizing:border-box;
                      
                     }

                     .editqa-q-title{
                        width: 90%;
                        margin: 70px auto 0;
                        background: rgba(255,255,255,.8);
                        @include br(10px);
                        &:before{
                          content:'';
                          @include pos(a);
                          width: 100%;
                          height: 100%;
                          @include br(10px);
                          box-shadow:0 0 20px rgba(0,0,0,.5)
                        }

                        font-size: 15px;
                        line-height: 20px;
                        &>span{
                           color:#f66;
                           font-size: 24px;
                           @include pos(a);
                           top: -44px;
                        }
                        
                        box-sizing:border-box;
                        @include pos(r);
                        article>div{
                          padding: 50px 20px 30px 20px;;
                        }

                        .editqa-pager{
                           width: 80px;
                           height: 80px;
                           @include br(50%);
                           @include pos(a);
                           top: -40px;
                           left: 50%;
                           margin-left: -40px;
                           background: #fff;
                            font-size: 30px;
                            line-height: 50px;
                           border:1px dashed #222;
                           &:before{
                            content: '';
                            @include pos(a);
                            height: 80%;
                            top: 12%;
                            left: 55%;
                            @include transform(rotate(40deg));
                            width: 1px;
                            background: #999;
                            
                          }

                          span{
                            font-family: Georgia;

                            @include pos(a);
                            &:nth-of-type(1){
                              color:#f66;
                              font-size: 50px;
                              left: -10px;
                              width: 70px;
                              text-align: center;
                              top: 0px;
                            }
                            &:nth-of-type(2){
                              color:#999;
                              font-size: 30px;
                              right: -10px;
                              bottom: 0px;
                              width: 70px;
                              text-align: center;
                            }
                          }
                        }
                     }

                     .editqa-q-answer-list{
                       width: 90%;
                       margin: 20px auto;
                       .editqa-q-item{
                        

                        background: rgba(255,255,255,.8);
                        @include br(10px);
                        &:before{
                          content:'';
                          @include pos(a);
                          left: 0;
                          top: 0;
                          width: 100%;
                          height: 100%;
                          @include br(10px);
                          box-shadow:0 0 10px rgba(0,0,0,.5)
                        }

                        @include pos(r);

                         line-height: 40px;
                         
                         margin: 10px 0;
                         @include br(10px);
                         font-size: 14px;
                         padding: 0 10px;
                         box-sizing:border-box;
                         &.active{
                           background: #f66;
                           color:#fff;
                           border:none;
                         }
                       }
                       .editqa-submit-btn{
                         width: 100%;
                         height: 70px;
                         @include br(10px);
                         text-align: center;
                         color:#fff;
                         background: #f66;
                         line-height: 70px;
                         font-size: 40px;
                         border:1px solid #fff;
                         margin-top: 40px;
                         @include transition(.1s);
                         &.active{
                            @include transform(translate3d(0,3px,0) scale(.99));
                         }
                       }
                     }
              }
            }
            .qaedit-title{
               @include pos(a);

               font-size: 1.8vw;
               top:40%;
               display: none;
               left: 23%;
               color:#f66;
               width:11vw;
               height: 20vh;
            }
        }

        .editqa-left-operator-btns{
           @include pos(a);
           right: 10px;
           font-size: 16px;
           -webkit-user-select:none;
           top: 10px;
           z-index: 10;
           @include displayFlex(row);
           &>aside{
            @include transform3d();
             margin: 0 10px;

             &:hover{
               div{
                @include transition(.1s);
                @include transform(translate3d(0,-2px,0) scale(1.1));
               }
             }
             div{
              
              color:#fff;
              $size:60px;
              width: $size;
              height: $size;
              @include br(50%);
              text-align: center;
              line-height: $size;
              @include transition(.1s);
              background: #108ee9;
              cursor: pointer;
              &.tap{
                @include transform(translate3d(0,0,0) scale(.99));
              }
              @include pos(r);
             
              &:after{
                content:'';
                @include pos(a);
                width: 100%;
                height: 100%;
                @include br(50%);
                left: 0;
                top: 0;
                box-shadow: 0 3px 10px rgba(0,0,0,.5);
              }
             }
           }
        }

        &>div{
          @include pos(r);
          input{
              background: #1092e6;
              color:#fff;
              text-align: center;
              font-size: 18px;
              height: 40px;
              width: 80%;
              top: -40px;
              display: block;
              @include pos(a);
              left: 10%;

          }
          .qaedit-btn-ground{
            @include pos(a);
            right: -40px;
            top: 50px;
            z-index: 100;

            .qaedit-add-question-btn{
              @include pos(a);
            }


            .qaedit-bg-btn,.qaedit-bgsound-btn{
              &>div{
                @include pos(a);
                left: -280%;
                top: 0;
              }
              z-index: 100;
              width: 40px;
              height: 40px;
              top: 0;
              cursor: pointer;
              margin: 10px 0;
              @include transform(scale(1));
              @include transformOrigin(left);
            }  
          }
          
        }
      }
      &:last-of-type{
        width: 500px;
        background: #Fff;
        
        .editqa-title{
          width: 90%;
          
          margin:20px auto 0;
        }

        .editqa-q-input{
          @include displayFlex(row);
          width: 90%;
          &>section{
            flex:1;
            -webkit-flex:1;
            &:last-of-type{
              flex:none;
              -webkit-flex:none;
            }
            img{width: 100px;}
          }
          textarea{
            height: 100px;
            resize:none;
          }
          margin:0 auto 0;
          .editqa-title-error{
            border-color:#f66;
            box-shadow:0 0 20px rgba(255,0,0,.5);
          }
          span{
              color:#f66;
             }
        }

        .editqa-pagetion{
          width: 90%;
          margin:20px auto 0;
          @include pos(r);
          &>div{
            display: inline-block;
            @include pos(r);
            &:hover{
              img{
                opacity:1;
              }
            }
            img{
              opacity:0;
              cursor: pointer;
              top: 5px;
              right: 3px;
              width: 10px;
              @include pos(a);
              z-index: 1;
            }
          }
          button{
            margin: 5px 2px 0 0;
            width: 48px;
          }
        }
        .editqa-q-type,.editqa-q-duration,.editqa-q-tip,.editqa-q-img,.editqa-add-q-btns{
          width: 90%;
          margin:20px auto 0;
          text-align: center;
           @include displayFlex(row);
           section{
             span{
              color:#f66;
             }
             flex:1;
             -webkit-flex:1;
             height: 30px;
             //@include br(3px);
             line-height: 30px;

             &:not(:first-of-type){
               cursor: pointer;
             } 
             &:first-of-type{
               font-weight: bold;
             }

             &.active{
                background:#108ee9;
                color:#fff;
             }
           }
        }
        .editqa-q-type{
           &>section{
             &:first-of-type{
               flex:1;
               -webkit-flex:1;
             }
             &:last-of-type{
              flex:3;
               border:1px solid #108ee9;
               -webkit-flex:3; 
               &>section{
                 &:nth-of-type(2){
                  border-right:1px solid #108ee9;
                  border-left:1px solid #108ee9;
                  @include br(0);
                 }
               }
               @include displayFlex(row);
             }
           }
        }
        .ediqa-q-item{
          width: 90%;
           margin: 30px auto;
           .ant-row-flex{
            
           }
           input{
             border-top-right-radius: 0;
             border-bottom-right-radius: 0;
           }
           button{
            border-top-left-radius: 0;
             border-bottom-left-radius: 0;
           }
        }
        .editqa-q-img{
           margin:10px auto 0;
           
           &>section{
              @include pos(r);
              &:hover{
                .editqa-q-img-remove{
                    opacity:1;
                }
              }
             .editqa-q-img-remove{    
                @include pos(a);
                width: 100%;
                height: 100%;
                left: 0;
                @include transition(.2s);
                top: 0;
                z-index: 10;
                opacity:0;
                background: rgba(0,0,0,.5);
                text-align: center;
                color:#fff;
                font-size: 30px;
                line-height:  150px;
             }
             width: 150px;
             cursor: pointer;
             height: 150px;
             flex:none;
             -webkit-flex:none;
             &:last-of-type{
              text-align: right;
              flex:1;
              -webkit-flex:1;
              cursor: default;
             }
           }
         }

        .editqa-setting-C{
          @include pos(a);
          top: 0;
          width: 100%;
          height: 50px;

          cursor: pointer;

          border:1px solid #373d41;


          font-size: 16px;
          -webkit-user-select:none;
          @include displayFlex(row);
          &>aside{

            @include pos(r);
            
            &:after{
              content:'';
              @include pos(a);
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background: #373d41;
              @include transformOrigin(left);
              @include transform(scale(0,1));
              

            }

            &:nth-of-type(2){
              &:hover{
                 &:after{
                  content:'风格设置';
                  z-index: 0;
                  @include transform(scale(1,1));
                }

              }
            }
            &:nth-of-type(3){
               &:hover{
                 &:after{
                  content:'发布设置';
                  z-index: 0;
                  @include transform(scale(1,1));
                }

              }
            }
            &:hover{
              
              color:#fff;
              line-height: 40px;

              &:after{
                content:'内容设置';
                z-index: 0;
                @include transition_transform(.2s .2s);
                @include transform(scale(1,1));
              }

              &:before{
                content:'';
                width: 100%;
                height: 2px;
                background: #fff;
                @include pos(a);
                z-index: 1;
                bottom: 0;
                left: 0;
                @include transformOrigin(left);
                @include transform(scale(0,1));
                @include animation(qa-line .2s forwards .2s);
                
              }

            }
             flex:1;
             @include transition(.3s);
             -webkit-flex:1;
             line-height: 50px;
             text-align: center;
             &.active{
                background: #373d41;
                color:#fff;
              }
          }

        }

        .qaedit-right-C{
          &:nth-of-type(1){
            overflow: hidden;
          }

          .editqa-header{
             margin:0px 10% 0 ;
             padding-top: 20px;
             font-size: 16px;
             
          }

          .qaedit-next{
          
            text-align: center;
          }
          margin-top: 50px;
         header{
            width: 100%;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            text-indent: 2em;
            border-bottom:1px solid #ccc;
         }
           @include pos(r);
          
          .editqa-level-tip{
            @include displayFlex(row);
            margin: 20px auto;
            width: 100%;
            &>div{

              height: 30px;
              line-height: 30px;
              -webkit-flex:1;
              flex:1;
              text-indent: 5em;

              &:last-of-type{
                text-indent: 0;
              }

            }
          }

           .poetry-share-ui{
              width:400px;
              height:70%;   
              left: 10%;
              top: 70px;
              margin: 20px auto 0;
              
              @include displayFlex();
              section{
                flex:1;
                &:nth-of-type(1){
                  textarea{
                    width:100%;
                    border:1px solid #2db7f5;
                    resize:none;
                    margin-top: 10px;
                    height:47px;
                  }

                  .poetry-operat-shareimg{
                    @include pos(a);
                    left:0;
                    top:0;
                    width:100%;
                    height:100%;
                    background:rgba(0,0,0,.6);
                    @include displayFlex();
                    button{
                      margin:8px 0;
                    }
                  }
                }
                &:nth-of-type(2){
                  font-size: 18px;

                }
                &:nth-of-type(3){
                  .poetry-publish-btn,.poetry-back-edit{
                    width:120px;
                    height:36px;
                    line-height: 36px;
                    cursor:pointer;
                    text-align: center;
                    color:#fff;
                    font-size: 16px;
                    @include br(5px)
                  }
                  .poetry-publish-btn{
                    background:#d8271c;
                  }
                  .poetry-back-edit{
                    background:#2db7f5;
                  }
                }
              }
            }

            .editqa-custom-index{
              margin: 20px auto 0; 
               section{
                  margin: 0 auto;
                  width: 120px;
                  height: 120px;
                  @include pos(r);

                  &:hover{
                      .editqa-q-img-remove{
                          opacity:1;
                      }
                    }
                   .editqa-q-img-remove{    
                      @include pos(a);
                      width: 100%;
                      height: 100%;
                      left: 0;
                      @include transition(.2s);
                      top: 0;
                      z-index: 10;
                      opacity:0;
                      background: rgba(0,0,0,.5);
                      text-align: center;
                      color:#fff;
                      font-size: 30px;
                      line-height:  120px;
                   }
               }
            }

            .editqa-my-custom{
              font-size: 16px;
              margin:20px 0 0 0;
              .editqa-my-custom-tip{
                font-size: 12px;
                color:#f66;
              }
            }

            .editqa-score-setting{
              margin-top: 20px;
               &>div{
                 &:first-of-type{
                    font-size: 16px;
                    margin-bottom: 20px;
                 }
                 &:nth-of-type(2){
                    @include displayFlex(row);
                    &>section{
                      flex:1;
                      -webkit-flex:1;
                      font-size: 14px;
                      &:last-of-type{
                        text-align: right;
                        color:#0e77ca;
                      cursor: pointer; 
                      }
                    }
                 }
               }
            }


            .qaedit-custom-list{
              li{
                width: 40px;
                height: 40px;
                background: #494c57;
                color:#fff;
                text-align: center;
                cursor: pointer;
                line-height: 40px;
                font-size: 20px;
                &:not(:first-of-type){
                  margin:10px 0;
                }
                @include pos(r);
                &:hover{
                  span{
                    opacity:1;
                  }
                }
                span{
                  opacity:0;
                  @include pos(a);
                  width: 12px;
                  height: 12px;
                  right: 0;
                  top: 0;
                  font-size: 12px;
                  line-height: 6px;
                }
                &.active{
                  background: #108ee9;
                }
              }
              @include pos(a);
              left: -40px;
            }
            .qaedit-custom-center{
              width: 450px;
              margin: 20px auto;
            }
            .qaedit-custom-title{
                              
            } 
            .qaedit-custom-aduio{
              img{width: 40px;vertical-align: middle;}
              font-size: 16px;
            }
            .qaedit-custom-content{
               textarea{
                width: 100%;
                border:1px solid #108ee9;
                 resize:none;
                 height:120px;
                 padding: 6px;
                 @include br(6px);
               }
            }
            .qaedit-custom-btn{
              button{
                @include transform(scale(1.2));
              }
            }
           .qaedit-bg-C{
              width: 480px;
              margin: 20px auto 0;
              @include br(10px);
              background: #f1f1f1;
             ul{
              padding-top: 10px;
                @include displayFlex(row);
                flex-wrap:wrap;
                li{
                  width: 140px;
                  cursor: pointer;
                  margin:10px;
                  @include br(4px);
                  &.active{
                    box-sizing:border-box;
                    border:2px solid #3da5e8;
                  }
                }
             }
           }

           .qaedit-bgsound-C{
            width: 480px;
            margin: 20px auto;
              ul{
                li{
                  height: 40px;
                  line-height: 40px;
                  &:nth-of-type(2n){
                    background: #eee;

                  }
                  cursor: pointer;
                  font-size: 16px;
                  @include transition(.2s);
                  &:not(:first-of-type):hover{
                    background: #1092e6;
                    color:#fff;
                  }
                  &.active{
                    background: #1092e6;
                    color:#fff; 
                  }
                  @include displayFlex(row);
                  aside{
                    flex:1;
                    text-align: center;
                    -webkit-flex:1;
                    img{width:30px;vertical-align: middle;}
                  }
                }
              }
           }
        }

        @include pos(r);
        .qaedit-save-btn{
          @include pos(a);
          top: 0;
          width:100%;
          text-align: center;
          button{
            display: none;
          }
          background: #333;
          height: 50px;
          font-size: 20px;
          color:#fff;
          line-height: 50px;
          cursor: pointer;
          @include transition(.3s);
          &:hover{
            background: #008ced;
          }
        }
      }
    }
 }

 @-webkit-keyframes qa-line{
    100%{
      @include transformOrigin(left);
      @include transform(scale(1,1));
    }
    
 }
  @-webkit-keyframes qa-line1{
    100%{
      @include transformOrigin(right);
      @include transform(scale(0,1));
    }
    .ant-switch-inner{
      color:#fff !important;

    }
 }