@import "../../../public/css/base.scss";

h2,h3,h4,h5{
  font-weight: normal;
}
 .qaedit-main-ui{
     background: #eaedf1;
    @include displayFlex(row);
    &>aside{
      &:first-of-type{
        -webkit-flex:1;
        flex:1;
        @include displayFlex();
        .editpoetry-iphone{
           width:30%;
            margin: 0 auto;
            @include pos(r);
            top: 50%;
            @include transform(translate3d(0,-50%,0));

            .qaedit-title{
               @include pos(a);
               font-size: 1.8vw;
               top:40%;
               display: none;
               left: 23%;
               color:#f66;
               width:11vw;
               height: 20vh;
            }
        }
        &>div{
          @include pos(r);
          input{
              background: #1092e6;
              color:#fff;
              text-align: center;
              font-size: 18px;
              height: 40px;
              width: 80%;
              top: -40px;
              display: block;
              @include pos(a);
              left: 10%;

          }
          .qaedit-btn-ground{
            @include pos(a);
            right: -55px;
            top: 50px;

            .qaedit-add-question-btn{
              @include pos(a);
            }


            .qaedit-bg-btn,.qaedit-bgsound-btn{
              
              width: 60px;
              height: 60px;
              cursor: pointer;
              @include transform(scale(.7));
              @include transformOrigin(left);
            }  
          }
          
        }
      }
      &:last-of-type{
        width: 500px;
        background: #Fff;

        .qaedit-right-C{

          .qaedit-next{
            button{
              @include transform(scale(1.5));
            }
            text-align: center;
          }
          margin-top: 50px;
         header{
            width: 100%;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            text-indent: 2em;
            border-bottom:1px solid #ccc;
         }
           @include pos(r);

           .poetry-share-ui{
              width:400px;
              height:70%;   
              left: 15%;
              top: 100px;
              @include pos(a);
              
              @include displayFlex();
              section{
                flex:1;
                &:nth-of-type(1){
                  textarea{
                    width:100%;
                    border:1px solid #2db7f5;
                    resize:none;
                    margin-top: 10px;
                    height:47px;
                  }

                  .poetry-operat-shareimg{
                    @include pos(a);
                    left:0;
                    top:0;
                    width:100%;
                    height:100%;
                    background:rgba(0,0,0,.6);
                    @include displayFlex();
                    button{
                      margin:8px 0;
                    }
                  }
                }
                &:nth-of-type(2){
                  font-size: 18px;

                }
                &:nth-of-type(3){
                  .poetry-publish-btn,.poetry-back-edit{
                    width:120px;
                    height:36px;
                    line-height: 36px;
                    cursor:pointer;
                    text-align: center;
                    color:#fff;
                    font-size: 16px;
                    @include br(5px)
                  }
                  .poetry-publish-btn{
                    background:#d8271c;
                  }
                  .poetry-back-edit{
                    background:#2db7f5;
                  }
                }
              }
            }


            .qaedit-custom-list{
              li{
                width: 40px;
                height: 40px;
                background: #494c57;
                color:#fff;
                text-align: center;
                cursor: pointer;
                line-height: 40px;
                font-size: 20px;
                &:not(:first-of-type){
                  margin:10px 0;
                }
                @include pos(r);
                &:hover{
                  span{
                    opacity:1;
                  }
                }
                span{
                  opacity:0;
                  @include pos(a);
                  width: 12px;
                  height: 12px;
                  right: 0;
                  top: 0;
                  font-size: 12px;
                  line-height: 6px;
                }
                &.active{
                  background: #108ee9;
                }
              }
              @include pos(a);
              left: -40px;
            }
            .qaedit-custom-center{
              width: 450px;
              margin: 20px auto;
            }
            .qaedit-custom-title{
                              
            } 
            .qaedit-custom-aduio{
              img{width: 40px;vertical-align: middle;}
              font-size: 16px;
            }
            .qaedit-custom-content{
               textarea{
                width: 100%;
                border:1px solid #108ee9;
                 resize:none;
                 height:120px;
                 padding: 6px;
                 @include br(6px);
               }
            }
            .qaedit-custom-btn{
              button{
                @include transform(scale(1.2));
              }
            }
           .qaedit-bg-C{
              width: 480px;
              margin: 20px auto 0;
              @include br(10px);
              background: #f1f1f1;
             ul{
              padding-top: 10px;
                @include displayFlex(row);
                flex-wrap:wrap;
                li{
                  width: 140px;
                  cursor: pointer;
                  margin:10px;
                  @include br(4px);
                  &.active{
                    box-sizing:border-box;
                    border:2px solid #3da5e8;
                  }
                }
             }
           }

           .qaedit-bgsound-C{
            width: 480px;
            margin: 20px auto;
              ul{
                li{
                  height: 40px;
                  line-height: 40px;
                  &:nth-of-type(2n){
                    background: #eee;

                  }
                  cursor: pointer;
                  font-size: 16px;
                  @include transition(.2s);
                  &:not(:first-of-type):hover{
                    background: #1092e6;
                    color:#fff;
                  }
                  &.active{
                    background: #1092e6;
                    color:#fff; 
                  }
                  @include displayFlex(row);
                  aside{
                    flex:1;
                    text-align: center;
                    -webkit-flex:1;
                    img{width:30px;vertical-align: middle;}
                  }
                }
              }
           }
        }

        @include pos(r);
        .qaedit-save-btn{
          @include pos(a);
          top: 0;
          width:100%;
          text-align: center;
          button{
            display: none;
          }
          background: #333;
          height: 50px;
          font-size: 20px;
          color:#fff;
          line-height: 50px;
          cursor: pointer;
          @include transition(.3s);
          &:hover{
            background: #008ced;
          }
        }
      }
    }
 }