@import "../../../public/css/base.scss";
.qa-list-main-ui{
	.qa-list-C{
		width:94%;
		margin:0 auto;
		.qa-list{

			@include displayFlex(row);
			-webkit-flex-wrap:wrap;
       		flex-wrap:wrap;
       		li{
				&:first-of-type{
					cursor: pointer;
				}
       			margin:11px;
       			$size:200px;
       			@include pos(r);
       			width:$size;
       			height:$size + 40;
       			box-sizing:border-box;
       			&:not(:first-of-type){
       				background-color: rgba(0,0,0,.6);
       			}
       			.qa-item-shareimg{
       				height:$size;
       			}

       			.qa-item-view{
       				@include pos(a);
                              width:50px !important;
                              bottom: 7px;
                              right: 10px;
                              cursor: pointer;
                              color:#fff;
                              font-size:16px;
                              a{color:#fff;margin:0 4px;}
       			}

       			.qa-item-name{
       				color:#fff;
       				margin:10px;
                              width: 120px;
                              max-width: 120px;
       				font-size: 12px;
       				white-space:nowrap;
                                word-break:break-all;
                                overflow:hidden;
                                text-overflow:ellipsis;
                                -webkit-text-overflow:ellipsis;
       			}
       			&:hover{
       				.qa-item-operator{
       					display:block;
       				}
       				.qa-qrcode{
       					@include transform(scale(1));
       				}
       			}

       			.qa-qrcode{
       				@include pos(a);
       				top: 0;
       				left: 0;
       				z-index: 10;
       				@include transition(.2s);
       				@include transform(scale(0));
       			}
       			.qa-item-operator{
					width:50px;
					z-index: 10; 
					display:none;
					text-align: center;
					padding-left: 2px;
					@include pos(a);
					a{display: block;width:100%;
						height: 100%;}
					top:0;
					left:100%;
					&>div{

						@include transition(.2s);
						&:hover{
							background:#2db7f5;
							color:#fff;
							a{color:#fff;}
						}
						cursor:pointer;
						background:#fff;
						&:nth-of-type(2){
							margin:2px 0;
						}
						@include br(3px);
						color:#2db7f5;
						a{color:#2db7f5;}
						font-size: 12px;
						border:1px solid #2db7f5;

					}
       			}
       		}
		}
	}

      .qa-create-C{
            width: 100%;
            @include pos(r);
            background: #eaedf1;
            @include displayFlex(row);
            &>aside{
                  
                  &:first-of-type{
                        -webkit-flex:1;
                        flex:1;
                        @include displayFlex();
                        .qa-iphone{
                              width:30%;
                              margin: 0 auto;
                              @include pos(r);
                              top: 50%;
                              @include transform(translate3d(0,-50%,0));
                        }
                  }
                  &:last-of-type{
                        width: 500px;
                        @include pos(r);
                        background: #f1f1f1;
                        .qa-text{
                              width: 80%;
                              left: 10%;
                              @include pos(a);
                              top: 30%;
                              img{
                                    opacity:0;
                              }
                        }

                        .qa-creat-btn{
                              @include pos(a);
                              width: 176px;
                              height: 48px;
                              line-height: 48px;
                              text-align: center;
                              font-size: 22px;
                              color:#fff;
                              bottom: 100px;
                              left: 50%;
                              margin-left: -88px;
                              cursor: pointer;
                        }
                        .qa-sea-list{
                              @include pos(a);
                              bottom: 50px;
                              right: 50px;
                              cursor: pointer;
                        }
                  }

            }


      } 
}
 .qa-title-input{
      margin-top: 30px;
      .qa-title-btn{
            margin-top: 30px;
            text-align: center;
      }
}