html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

@mixin pos($v) {
  @if
  $v == a {
    position: absolute;
  } @else if $v == r {
    position: relative;
  } @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}

body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow-x:hidden;
}


$baseColor:#99071e;
$btnColor:#d8271d;
.ud-main-ui{
  width: 100vw;
  height:100vh;
  @include displayFlex(horizontal);
  $leftSize:15vw;
  .ud-left-side{
    width: $leftSize;
    background:#EAEDF1;
    .ant-tabs-ink-bar{
      background-color:#a30b17;
    }
    .ant-tree-node-selected{
       background:$baseColor;
       span{
        color:#fff;
       }
    }
    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner{
      color:$baseColor;
    }
    .ant-tabs-bar{
      border-color:#be5841;
    }
    .ant-tabs-nav .ant-tabs-tab-inner:hover{
      color:$btnColor;
    }

    .ant-tabs-tabpane{
      .wf-column{
        float: left;
      }
    }
  }
  .ud-right-side{
    $color:$btnColor;
    width: 100 - $leftSize;
    .ud-main-section{

      width: 80vw;
      margin:0 auto;

      .ud-operator-bar{
        height: 30px;
        a{
          margin:0 3px;
          font-size:12px;
          font-weight:normal;
        }
      }
      header{
        h1{
          margin: 3vh 0 1vh;
          font-family: '宋体'
        }

      }
      .ud-operator-btn-group{
        margin:20px 0;
      }

      .ud-current-department{//当前部门样式
        padding-bottom:20px;
     
        .ud-current-header{
          @include displayFlex(horizontal);
          align-items: center;
          margin-top: 20px;
          h2{
            font-family: '宋体';
            width:20%;
            div{
              a,span{
                font-weight: normal;
                font-size:12px;
              }
            }
          }
          aside{
            width:60%;

            button{
              margin-left:21px;
            }
          }
        }


      }

      .ud-current-user-section{
         &>div{
          margin-top: 20px;
          text-align: center;
          p{
            margin: 20px 0;
          }
         }
      }
      
      /*---------------*/

      table {
        td, th {
          text-align: center
        }
        a {
          color: #06C;
        }
      }
      .ant-table-pagination{
        .ant-pagination-item-active {
          background-color:$btnColor;
          border-color:$btnColor;
          a{
            color:#fff;
          }
          &:hover{
            a{
              color:#fff;
            }
          }
        }
      }
      .ant-pagination-item:hover {
        border-color: $btnColor;
        a{
          color:$btnColor;
        }
      }
      .ant-pagination-prev:hover, .ant-pagination-next:hover {
        border-color: $btnColor;
        a{
          color:$btnColor;
        }
      }
      /*---------------*/
     
    }
  }
}

.ant-tree li a:hover{
  background-color: $btnColor !important;
  color:#fff;
}

 .ant-btn{
    background:$btnColor !important;
    border-color:#e2534a !important;
    color:#fff !important;
  }
   .ant-btn-ghost{
      color:#666!important;
      background:#fff !important;
   }
    .ant-btn-clicked{
      &:after{
        border: 0 solid #e2534a !important;
      }
}

.ant-checkbox-checked .ant-checkbox-inner{
  background-color:$btnColor !important;
  border-color:$btnColor !important;
}