@import "../../../public/css/base.scss";
$height: 52px;
$baseColor: #f4654c;

.ant-notification-notice {
	img {
		width: 40px;
		@include br();
	}
}
.wenming-notification {
	@include displayFlex(row);
	width: 300px;

	&>a, &>img, &>span {
		display: block;
		flex: 1;
		-webkit-flex: 1;
		height: 30px;
		line-height: 30px;
	}
	&>span {
		flex: none;
		width: 90px;
	}
	&>a {
		background: $baseColor;
		text-align: center;
		color: #fff;
		@include br(4px);
	}
	&>img {
		width: 30px;
		flex: none;
		margin: 0 10px 0 100px;
	}
}
.wenming-main-ui {
	@include displayFlex();
	padding: 0 10px 0 10px;
	background: #f0f0f0;
	box-sizing: border-box;

	header.wenming-header {
		width: 100%;
		height: $height;
		background: #fff;
		margin: 10px auto 1px;
		@include pos(r);
		line-height: $height;
		color: #000;
		font-size: 16px;
		text-indent: 20px;

		&:before {
			content: "";
			@include pos(a);
			width: 4px;
			height: 100%;
			left: 0;
			top: 0;
			background: $baseColor;
		}
	}
	&>section {
		flex: 1;
		-webkit-flex: 1;
		//margin-top: 10px;
		@include displayFlex(row);

		&>aside {
			&:nth-of-type(1) {
				-webkit-flex: 1;
				flex: 1;
			}
			&:nth-of-type(2) {
				width: 300px;
			}
		}
		.wenming-map-C {
			@include displayFlex();

			&>section.wenming-statistics {
				flex: 1;
				-webkit-flex: 1;
				margin-top: 2px;
				background: #fff;
				@include displayFlex(row);
				@include pos(r);

				&>aside {
					width: 250px;

					&:nth-of-type(1) {
						flex: 1;
						-webkit-flex: 1;
					}
					&:nth-of-type(2) {
						@include pos(a);
						right: 0;
						top: 0;

						.wenming-total-pv, .wenming-month-day-pv>section {
							margin-top: 20px;
							width: 90%;
							height: 70px;
							line-height: 70px;
							text-align: center;
							color: #fff;
							font-size: 14px;
							background: $baseColor;
							@include pos(r);
							overflow: hidden;

							&:after {
								content: '';
								@include pos(a);
								width: 400px;
								height: 200px;
								left: 45%;
								top: 100%;
								background: rgba(255, 255, 255, 1);
								box-shadow: 0 0 200px rgba(255, 255, 255, 1);
							}
							span {
								font-size: 18px;
								margin: 0 10px;
							}
						}
						.wenming-month-day-pv {
							width: 90%;
							@include displayFlex(row);

							&>section {
								@include displayFlex();
								justify-content: center;

								&>div {
									line-height: 20px;
								}
								flex: 1;
								-webkit-flex: 1;
								background: $baseColor;

								&:last-of-type {
									margin-left: 10px;
								}
							}
						}
						.wenming-day-pv-uv {
							@include displayFlex(row);
							margin-top: 100px;
							text-align: center;
							font-size: 16px;

							&>div {
								flex: 1;
								-webkit-flex: 1;
								color: #007aff;

								section.wenming-pv-t {
									color: #000;
								}
							}
						}
					}
				}
			}
		}
		.weniming-statistics-list {
			@include displayFlex();

			&>section {
				padding-left: 10px;
				flex: 1;
				@include pos(r);
				-webkit-flex: 1;
				@include displayFlex();
				//overflow: hidden;

				&>div {
					width: 100%;
					flex: 1;
					-webkit-flex: 1;
					margin-top: 1px;
					background: #f00;
				}
				&>header {
				}
				.wenming-list-title {
					height: 40px;
					line-height: 40px;
					background: #f6f6f6;
					@include displayFlex(row);

					&>div {
						flex: 1;
						-webkit-flex: 1;
						text-align: center;

						&:nth-of-type(2) {
							flex: 2;
							-webkit-flex: 2;
						}
					}
					.wenming-sort {
						@include pos(r);
						cursor: pointer;

						&.wenming-no-sort {
							&:after {
								top: 46%;
								border-bottom-color: #999;
							}
							&:before {
								display: none;
							}
						}
						&.sort-up {
							&:before {
								border-bottom-color: #000;
							}
						}
						&.sort-down {
							&:after {
								border-bottom-color: #000;
							}
						}
						&:before, &:after {
							content: '';
							@include pos(a);
							right: 0px;
							top: 36%;
							width: 0;
							height: 0;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid #999;
						}
						&:after {
							top: 50%;
							@include transform(rotateX(180deg));
						}
					}
				}
				.wenming-ranking-list {
					@include pos(r);
					-webkit-flex: 1;
					flex: 1;
					overflow: hidden;
					background: #fff;

					ul {
						li {
							a {
								@include displayFlex(row);
								width: 100%;
								height: 100%;
								color: #999;
								@include pos(r);
								z-index: 100;

								&:hover {
									background: #f0f0f0;
								}
							}
							text-align: center;
							line-height: 40px;
							height: 40px;

							div {
								&:nth-of-type(2) {
									flex: 2;
									-webkit-flex: 2;
								}
								flex: 1;
								-webkit-flex: 1;
							}
							img {
								width: 30px;
								height: 30px;
								@include br();
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}
}