/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-break-all {
  word-wrap: break-word;
  word-break: break-all; }

.wenming-main-ui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-flow: column;
      flex-flow: column;
  padding: 10px 10px 0 10px;
  background: #f0f0f0;
  box-sizing: border-box; }
  .wenming-main-ui > section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex: 1;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: row;
        flex-flow: row; }
    .wenming-main-ui > section > aside:nth-of-type(1) {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .wenming-main-ui > section > aside:nth-of-type(2) {
      width: 300px; }
    .wenming-main-ui > section .wenming-map-C {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -ms-flex-flow: column;
          flex-flow: column; }
      .wenming-main-ui > section .wenming-map-C > header {
        width: 100%;
        height: 52px;
        background: #fff;
        position: relative;
        line-height: 52px;
        color: #000;
        font-size: 16px;
        text-indent: 20px; }
        .wenming-main-ui > section .wenming-map-C > header:before {
          content: "";
          position: absolute;
          width: 4px;
          height: 100%;
          left: 0;
          top: 0;
          background: #f4654c; }
      .wenming-main-ui > section .wenming-map-C > section.wenming-statistics {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-flex: 1;
        margin-top: 2px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -ms-flex-flow: row;
            flex-flow: row;
        position: relative; }
        .wenming-main-ui > section .wenming-map-C > section.wenming-statistics > aside {
          width: 250px; }
          .wenming-main-ui > section .wenming-map-C > section.wenming-statistics > aside:nth-of-type(1) {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            -webkit-flex: 1; }
          .wenming-main-ui > section .wenming-map-C > section.wenming-statistics > aside:nth-of-type(2) {
            position: absolute;
            right: 0;
            top: 0; }
            .wenming-main-ui > section .wenming-map-C > section.wenming-statistics > aside:nth-of-type(2) .wenming-total-pv {
              margin-top: 20px;
              width: 90%;
              height: 70px;
              line-height: 70px;
              text-align: center;
              color: #fff;
              font-size: 14px;
              background: #f4654c;
              position: relative;
              overflow: hidden; }
              .wenming-main-ui > section .wenming-map-C > section.wenming-statistics > aside:nth-of-type(2) .wenming-total-pv:after {
                content: '';
                position: absolute;
                width: 400px;
                height: 200px;
                left: 45%;
                top: 100%;
                background: white;
                box-shadow: 0 0 200px white; }
              .wenming-main-ui > section .wenming-map-C > section.wenming-statistics > aside:nth-of-type(2) .wenming-total-pv span {
                font-size: 18px;
                margin: 0 10px; }

/*# sourceMappingURL=index.css.map */