@import "../../../public/css/base.scss";
$height: 52px;
$baseColor: #f4654c;



.wenming-setting-main-ui {
	@include displayFlex();
	padding: 0 10px 0 10px;
	background: #ffffff;
	box-sizing: border-box;

	header.setting-header {
		width: 100%;
		height: $height;
		background: #fff;
		margin: 10px auto 1px;
		@include pos(r);
		line-height: $height;
		color: #000;
		font-size: 16px;
		text-indent: 20px;

		&:before {
			content: "";
			@include pos(a);
			width: 4px;
			height: 100%;
			left: 0;
			top: 0;
			background: $baseColor;
		}
	}
	.wenming-setting-header-inner{
		padding-left: 8px;
		margin-top: 10px;
		@include pos(r);
		&:before{
			content: '';
			@include pos(a);
			width:2px;
			height:100%;
			background:#88B7E0 ;
			left:0;
			@include transform(scale(1,.7));
		}
	}
	.wenming-setting-button-right button{
		float:right;
		margin-top: 5px;
	}
	.wenming-setting-line{
		clear:both;
		height:15px;
		overflow: hidden;
		border-bottom: 1px solid #dddddd;
	}
	.wenming-setting-form{
		padding:20px 0 0 0;
		textarea{
			width:100%;
			box-sizing:border-box;
			padding: 6px 7px;
			resize:none;
			border-color: #2db7f5;
			border-radius: 3px;
		}
	}
	.wenming-setting-actbtn{
		button{
			margin:0 5px;
		}
	}
	.wenming-setting-uploadbtn{
		width:102px;
		height:32px;
		overflow:hidden;
		position: relative;
		.wenming-add-file{
			position: absolute;
			left:0;
			top:0;
			opacity:0;
		}
	}
	.wenming-setting-thumbnail{
		width:120px;
		height:90px;
		clear:both;
		position: relative;
		zoom:1;
		box-sizing:border-box;
	}

	.ant-radio-group{
		margin:6px 0 0 0;
	}
	.wenming-setting-classlist{
		clear:both;	

		li{
			padding:0 30px 0 0;
			position: relative;
			zoom:1;
			
			.wenming-setting-classact{
				position: absolute;
				right:0;
				top:0;
			}
			.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only{
				padding:0;
			}
			button{				
					background:none;
					border:none;
					padding:0;
					width:auto;
					height:auto;
				}
			
		}
	}
	.hr15{
		width:100%;
	}

}