@import "../../../public/css/base.scss";

@at-root .padding-10{
  padding:10px;
}
@at-root .lef{
  text-align: left;
}
@at-root .rig{
  text-align: right;
}
@at-root .cen{
  text-align: center;
}
@at-root .hidden{
  display: none;
}
@mixin radius50(){
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.zmiti-vieweixin-main-ui{
  overflow:auto;
  .zmiti-vieweixin-header-inner{
    padding-left: 8px;
    margin-top: 10px;
    @include pos(r);
    &:before{
      content: '';
      @include pos(a);
      width:2px;
      height:100%;
      background:#88B7E0 ;
      left:0;
      @include transform(scale(1,.7));
    }    
  }
  .zmiti-vieweixin-button-right button{
        float:right;
        margin-top: 5px;
  }
  .zmiti-vieweixin-line{
    height:15px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
  }
  .zmiti-viewxchat-detail{
    padding:20px 0;
    font-size:14px;
    .ant-row{
      margin:0 0 10px 0;
    }
    .zmiti-viewxchat-label{
      text-align:right;
      line-height: 1.8;
    }
  }

}