html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

html, body {
  height: 100%; }

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto; }

input, textarea {
  outline: none; }

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.hr10, .hr15 {
  clear: both;
  line-height: 0;
  font-size: 0; }

.hr10 {
  height: 10px; }

.hr15 {
  height: 15px; }

.pad-5 {
  padding: 5px; }

.pad-10 {
  padding: 10px; }

.pad-15 {
  padding: 15px; }

.pad-20 {
  padding: 20px; }

.zmiti-vieworder-main-ui {
  font-size: 12px;
  overflow: auto; }
  .zmiti-vieworder-main-ui .zmiti-vieworder-header-inner {
    padding-left: 8px;
    margin-top: 10px;
    position: relative; }
    .zmiti-vieworder-main-ui .zmiti-vieworder-header-inner:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background: #88B7E0;
      left: 0;
      -webkit-transform: scale(1, 0.7);
      transform: scale(1, 0.7); }
  .zmiti-vieworder-main-ui .zmiti-workorder-button-right button {
    float: right;
    margin-top: 5px; }
  .zmiti-vieworder-main-ui .zmiti-workorder-line {
    height: 15px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd; }
  .zmiti-vieworder-main-ui .workorder-table {
    border: 1px solid #e1e6eb;
    margin-top: 15px;
    background: #FFffff; }
    .zmiti-vieworder-main-ui .workorder-table .ant-layout-header {
      background: #F5f6FA;
      border-left: 4px solid #6d7781;
      padding-left: 16px;
      height: 38px;
      line-height: 38px;
      overflow: hidden;
      border-bottom: 1px solid #e1e6eb; }
  .zmiti-vieworder-main-ui .questionTitle {
    color: #999; }
  .zmiti-vieworder-main-ui .red {
    color: red; }
  .zmiti-vieworder-main-ui .error-table {
    border: 1px solid red;
    color: red; }
  .zmiti-vieworder-main-ui .workorderquestion-inputContent {
    height: 100px; }

.text-right {
  text-align: right; }

.view-questionInfo {
  background-color: #efefef;
  padding: 10px; }

.gutter-example {
  color: #000;
  line-height: 2; }
  .gutter-example span {
    color: #666; }

.view-titPane {
  background-color: #efefef;
  border-left: 5px #999 solid;
  border-top: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  border-bottom: 1px #cccccc solid;
  line-height: 2;
  padding-left: 10px;
  color: #333; }

.view-questionLists {
  border-left: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  border-bottom: 1px #cccccc solid;
  padding: 0 15px 15px 15px;
  margin: 0; }
  .view-questionLists ul {
    width: 100%;
    overflow: hidden; }
  .view-questionLists li {
    padding: 10px 0 10px 70px;
    min-height: 70px;
    position: relative;
    margin: 0;
    border-bottom: 1px #ccc dashed;
    color: #666;
    width: 100%; }
  .view-questionLists li:last-child {
    border-bottom: none; }
  .view-questionLists li.messageDiv {
    color: #000;
    padding-left: 10px; }
    .view-questionLists li.messageDiv .view-faceIco {
      display: none; }
  .view-questionLists li.questionFinish {
    background-color: #eafbff; }

.view-faceIco {
  position: absolute;
  left: 10px;
  top: 10px; }
  .view-faceIco img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }

.view-questionForm {
  border-left: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  border-bottom: 1px #cccccc solid;
  padding: 10px 15px;
  margin: 0; }
  .view-questionForm form {
    width: 100%; }
  .view-questionForm .view-tit-label {
    line-height: 24px; }
  .view-questionForm textarea {
    outline: none;
    resize: none;
    border-color: #d9d9d9; }
  .view-questionForm p {
    margin: 10px 0; }

/*# sourceMappingURL=index.css.map */
