html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%; }

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto; }

input, textarea {
  outline: none; }

body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  background: #454545 !important;
  min-width: 1024px; }

.rm-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: row; }

#rm-left-app {
  height: 100vh;
  background-color: #1c1c1c;
  width: 300px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); }
  #rm-left-app .rm-header {
    width: 80%;
    margin: 8vh auto 0;
    height: 30px;
    color: #fff;
    line-height: 30px;
    position: relative; }
    #rm-left-app .rm-header:before {
      content: "";
      position: absolute;
      right: 0;
      top: 15px;
      width: 70%;
      height: 1px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, 0.2)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.2)));
      background: -moz-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
      background: -ms-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2)); }
  #rm-left-app .rm-pannel-bar {
    width: 90%;
    height: 30px;
    margin: 5vh auto 0;
    display: flex;
    display: -webkit-flex;
    flex-flow: row; }
    #rm-left-app .rm-pannel-bar .rm-pannel-title {
      padding: 10px; }
    #rm-left-app .rm-pannel-bar .rm-fill-left, #rm-left-app .rm-pannel-bar .rm-fill-right {
      border-bottom: 1px solid #990000; }
    #rm-left-app .rm-pannel-bar .rm-fill-left {
      width: 10%; }
    #rm-left-app .rm-pannel-bar .rm-fill-right {
      width: 43%; }
    #rm-left-app .rm-pannel-bar .rm-pic-video-title, #rm-left-app .rm-pannel-bar .rm-text-pannel-title {
      padding: 4px 10px;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      border-bottom: 1px solid #990000; }
    #rm-left-app .rm-pannel-bar .active {
      border: 1px solid #990000;
      border-bottom: none; }
  #rm-left-app .rm-operator-C {
    width: 90%;
    margin: 3vh auto;
    overflow: hidden;
    height: 70%; }
  #rm-left-app .rm-operator-box {
    width: 200%;
    height: 100px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    display: flex;
    display: -webkit-flex;
    flex-flow: row; }
    #rm-left-app .rm-operator-box.active {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
    #rm-left-app .rm-operator-box .ant-input-group-addon {
      cursor: pointer; }
    #rm-left-app .rm-operator-box .rm-operator-t, #rm-left-app .rm-operator-box .rm-operator-p {
      width: 50%; }
    #rm-left-app .rm-operator-box .rm-operator-t .color-container {
      width: 100%;
      position: relative;
      height: 40px;
      top: 2px; }
    #rm-left-app .rm-operator-box .rm-operator-t .color-container .minicolor {
      display: inline-block;
      position: absolute; }
    #rm-left-app .rm-operator-box .rm-operator-t .color-container input {
      width: 75%;
      display: inline-block;
      border-radius: 5px;
      padding-left: 5px;
      height: 28px;
      margin-top: 3px;
      margin-left: 40px; }

#rm-right-app {
  width: 700px; }

/*# sourceMappingURL=index.css.map */
