html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
}

input, textarea {
  outline: none;
}

@mixin pos($v) {
  @if
  $v == a {
    position: absolute;
  } @else if $v == r {
    position: relative;
  } @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));

}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column,$hC:center,$vC:center) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
  justify-content: $hC;
  align-items: $vC;
}
$bodyBg:#454545;
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
  min-width: 1024px;
}

.zmiti-main-ui{
  @include displayFlex();
}
$baseColor:#a30c15;
.zmiti-header{

  width:100vw;
  height:10vh;
  flex-grow: 1;
  background:#ecf0f1;
  @include displayFlex(row);
  justify-content: center;
  align-items: center;
  .form-group{
    flex-grow: 5;
    @include displayFlex(row);
    padding-left:10vw;
    input{
      width:50vw;
      margin-right:1vw;
    }
    button{
      background:#d8271d;
      border-color:#d8271d;
    }
  }

  .zmiti-create{
    flex-grow: 4;
    button{
      height:32px;
      background:$baseColor;
      border-color:$baseColor;
    }
  }
}
.zmiti-main-content{
  width:100vw;

  .zmiti-tab-C{
    width:90%;
    margin:5vh auto;
    .ant-tabs-ink-bar{
      background-color:#a30b17;
    }
    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner{
      color:$baseColor;
    }
    .ant-tabs-bar{
      border-color:#be5841;
    }
    .ant-tabs-nav .ant-tabs-tab-inner:hover{
      color:#d8271d;
    }

    .ant-tabs-tabpane{
      @include displayFlex(row);
      flex-wrap: wrap;
    }
  }

}
