html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

@mixin pos($v) {
  @if
  $v == a {
  position: absolute;
} @else if $v == r {
  position: relative;
} @else if $v == f {
  position: fixed;
}
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}
$baseColor:#99071e;
.acc-scan{
  width:70vw;
  height:20vh;
  border:1px solid #ccc;
  margin:0 auto;
  @include displayFlex(row);
  .acc-ar-l{
    &:before{
      content: '';
      @include pos(a);
      width:0;
      left: 10px;
      cursor: not-allowed;
      height:0;
      border-top: 30px solid transparent;
      border-right: 40px solid #aaa;
      border-bottom: 30px solid transparent;
      top:50%;
      @include transform(translate3d(0,-50%,0));
    }
  }
 $btnColor:#d8271d;
  .ar{
    @include pos(r);
    flex-grow: 1;
    width:50px;
    cursor: pointer;
    &.activeL{
      &:before{
        content: '';
        display: none;
      }
      &:after{
        content: '';
        @include pos(a);
        width:0;
        left: 10px;
        height:0;
        border-top: 30px solid transparent;
        border-right: 40px solid  $btnColor;
        border-bottom: 30px solid transparent;
        top:50%;
        @include transform(translate3d(0,-50%,0));
      }
    }
    &.activeR{
      &:before{
        content: '';
        display: none;
      }
      &:after{
        content: '';
        @include pos(a);
        width:0;
        height:0;
        right:10px;
        border-top: 30px solid transparent;
        border-left: 40px solid $btnColor;
        border-bottom: 30px solid transparent;
        top:50%;
        @include transform(translate3d(0,-50%,0));
      }
    }
  }

  .acc-ar-r{
    &:before{
      content: '';
      @include pos(a);
      width:0;
      height:0;
      right:10px;
      border-top: 30px solid transparent;
      border-left: 40px solid #aaa;
      border-bottom: 30px solid transparent;
      cursor: not-allowed;
      top:50%;
      @include transform(translate3d(0,-50%,0));
    }

  }
  .acc-scan-C{
    align-items:center;
    align-content:center;
    flex-grow: 20;
    width: 100px;
    height:16vh;
    margin-top:2vh;
    overflow: hidden;
    ul{
      @include transition_transform(.2s);
      width:100%;
      height:100%;
      @include displayFlex(row);

      li{
        border:1px solid #ccc;
        height:100%;
        box-sizing: border-box;
        margin:0 4px;
        //@include transform(scale(.7));
      }
    }
  }
}