/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.acc-scan {
  width: 70vw;
  height: 20vh;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row; }
  .acc-scan .acc-ar-l:before {
    font-size: 40px;
    top: 50%;
    left: 50%;
    content: '<';
    cursor: not-allowed;
    position: absolute;
      /*  height:0;
border-top: 30px solid transparent;
border-right: 40px solid #aaa;
border-bottom: 30px solid transparent;
top:50%;
@include transform(translate3d(0,-50%,0)); */
    -webkit-transform: scale(1, 3) translate3d(-50%, -18%, 0);
    transform: scale(1, 3) translate3d(-50%, -18%, 0); }
  .acc-scan .ar {
    width: 50px;
    cursor: pointer;
    -webkit-transition: .3s background,color .5s;
    transition: .3s background,color .5s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    border-radius: 3px;
    position: relative;
    flex-grow: 1; }
    .acc-scan .ar:hover {
      background: #e5e5e5; }
    .acc-scan .ar:hover:after, .acc-scan .ar:hover:before {
      color: #fff !important; }
    .acc-scan .ar.activeL:before {
      display: none;
      content: ''; }
    .acc-scan .ar.activeL:after {
      font-size: 40px;
      top: 50%;
      left: 50%;
      height: 20vh / 3;
      content: '<';
      text-align: center;
      position: absolute;
        /* width:0;
left: 10px;
height:0;
border-top: 30px solid transparent;
border-right: 40px solid  $btnColor;
border-bottom: 30px solid transparent; */
      -webkit-transform: scale(1, 3) translate3d(-50%, -18%, 0);
      transform: scale(1, 3) translate3d(-50%, -18%, 0); }
    .acc-scan .ar.activeR:before {
      display: none;
      content: ''; }
    .acc-scan .ar.activeR:after {
      font-size: 40px;
      top: 50%;
      left: 50%;
      content: '>';
      position: absolute;
      -webkit-transform: scale(1, 3) translate3d(-50%, -18%, 0);
      transform: scale(1, 3) translate3d(-50%, -18%, 0); }
  .acc-scan .acc-ar-r:before {
    font-size: 40px;
    top: 50%;
    left: 50%;
    content: '>';
    cursor: not-allowed;
    position: absolute;
    -webkit-transform: scale(1, 3) translate3d(-50%, -18%, 0);
    transform: scale(1, 3) translate3d(-50%, -18%, 0); }
  .acc-scan .acc-upload {
    line-height: 14vh;
    height: 14vh;
    margin-top: 2vh;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    position: relative; }
    .acc-scan .acc-upload:before, .acc-scan .acc-upload:after {
      top: 50%;
      left: 50%;
      width: 12vh;
      height: 10px;
      margin-top: -5px;
      margin-left: -6vh;
      content: '';
      background: #e5e5e5;
      position: absolute;
      border-radius: 4px; }
    .acc-scan .acc-upload:after {
      top: 50%;
      left: 50%;
      width: 10px;
      height: 12vh;
      margin-top: -6vh;
      margin-left: -5px;
      content: '';
      background: #e5e5e5;
      border-radius: 4px; }
  .acc-scan .acc-scan-C {
    overflow: hidden;
    width: 100px;
    height: 16vh;
    margin-top: 2vh;
    align-items: center;
    align-content: center;
    flex-grow: 20; }
    .acc-scan .acc-scan-C ul {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      display: flex;
      display: -webkit-flex;
      flex-flow: row; }
      .acc-scan .acc-scan-C ul li {
        box-sizing: border-box;
        height: 100%;
        margin: 0 4px;
        border: 1px solid #ccc;
        position: relative; }
        .acc-scan .acc-scan-C ul li span {
          font-size: 20px;
          display: inline-block;
          width: 30px;
          text-align: center;
          position: absolute;
          right: 6px;
          cursor: pointer; }

/*# sourceMappingURL=scan.css.map */
