@import "../public/css/base.scss";
$baseColor: #99071e;
.acc-scan
{
    width: 70vw;
    height: 20vh;
    margin: 0 auto;

    border: 1px solid #ccc;

    @include br(3px);
    @include displayFlex(row);
    $btnColor: #2db7f5;
    .acc-ar-l
    {
        &:before
        {
            font-size: 40px;

            top: 50%;
            left: 50%;

            content: '<';
            cursor: not-allowed;

            @include pos(a);
            /*  height:0;
      border-top: 30px solid transparent;
      border-right: 40px solid #aaa;
      border-bottom: 30px solid transparent;
      top:50%;
      @include transform(translate3d(0,-50%,0)); */
            @include transform(scale(1,3) translate3d(-50%,-18%,0));
        }
    }
    .ar
    {
        width: 50px;

        cursor: pointer;
        -webkit-transition: .3s background,color .5s;
                transition: .3s background,color .5s;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: #fff;

        @include br(3px);
        @include pos(r);
        flex-grow: 1;
        &:hover
        {
            background: #e5e5e5;
        }
        &:hover
        {
            &:after,
            &:before
            {
                color: #fff !important;
            }
        }
        &.activeL
        {
            &:before
            {
                display: none;

                content: '';
            }
            &:after
            {
                font-size: 40px;

                top: 50%;
                left: 50%;

                height: 20vh / 3;

                content: '<';
                text-align: center;

                @include pos(a);
                /* width:0;
        left: 10px;
        height:0;
        border-top: 30px solid transparent;
        border-right: 40px solid  $btnColor;
        border-bottom: 30px solid transparent; */
                @include transform(scale(1,3) translate3d(-50%,-18%,0));
            }
        }
        &.activeR
        {
            &:before
            {
                display: none;

                content: '';
            }
            &:after
            {
                font-size: 40px;

                top: 50%;
                left: 50%;

                content: '>';

                @include pos(a);
                @include transform(scale(1,3) translate3d(-50%,-18%,0));
            }
        }
    }
    .acc-ar-r
    {
        &:before
        {
            font-size: 40px;

            top: 50%;
            left: 50%;

            content: '>';
            cursor: not-allowed;

            @include pos(a);
            @include transform(scale(1,3) translate3d(-50%,-18%,0));
        }
    }
    .acc-upload
    {
         $size: 14vh;
        line-height: $size;

        height: $size;
        margin-top: 2vh;

        cursor: pointer;

        border: 1px solid #e5e5e5;

       
        @include pos(r);
        &:before,
        &:after
        {
            top: 50%;
            left: 50%;

            width: $size - 2;
            height: 10px;
            margin-top: -5px;
            margin-left: - ($size - 2 ) / 2;

            content: '';

            background: #e5e5e5;

            @include pos(a);
            @include br(4px);
        }
        &:after
        {
            top: 50%;
            left: 50%;

            width: 10px;
            height: $size - 2;
            margin-top: - ($size - 2 ) / 2;
            margin-left: -5px;

            content: '';

            background: #e5e5e5;

            @include br(4px);
        }
    }
    .acc-scan-C
    {
        overflow: hidden;

        width: 100px;
        height: 16vh;
        margin-top: 2vh;

        align-items: center;
        align-content: center;
        flex-grow: 20;
        ul
        {
            width: 100%;
            height: 100%;

            @include transition_transform(.2s);
            @include displayFlex(row);
            li
            {
                box-sizing: border-box;
                height: 100%;
                margin: 0 4px;

                border: 1px solid #ccc;
                @include pos(r);
                //@include transform(scale(.7));
                span{
                    font-size:20px;
                    display: inline-block;
                    width:30px;
                    text-align: center;
                    @include pos(a);
                    right: 6px;
                    cursor: pointer;
                }
            }
        }
    }
}