html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

html,
body
{
    height: 100%;
}

img
{
    width: 100%;
    height: auto;

    vertical-align: top;

    border: none;
}

input,
textarea
{
    outline: none;
}

@mixin pos($v)
{
    @if
    $v == a
    {
        position: absolute;
    } @else if $v == r
    {
        position: relative;
    } @else if $v == f
    {
        position: fixed;
    }
}

@mixin br($v: 50%)
{
    border-radius: $v;
}

@mixin opacity($v: 0)
{
    opacity: $v;
}

@mixin transform($v)
{
    -webkit-transform: $v;
            transform: $v;
}

@mixin transformOrigin($v)
{
    -webkit-transform-origin: $v;
            transform-origin: $v;
}

@mixin backgroundSize($v: cover)
{
    background-size: $v;
}

@mixin transition_transform($v)
{
    -webkit-transition: -webkit-transform $v;
            transition:         transform $v;
}

@mixin transform_origin($v: center)
{
    -webkit-transform-origin: $v;
            transform-origin: $v;
}

@mixin transition($v)
{
    -webkit-transition: $v;
            transition: $v;
}

@mixin transitionTimingFunction($v: cubic-bezier(1, -.025, 1, .865)

      )
{
    -webkit-transition-timing-function: $v;
            transition-timing-function: $v;
}

@mixin transform($v)
{
    -webkit-transform: $v;
            transform: $v;
}

@mixin background($bg)
{
    background: $bg;
}

@mixin backgroundSize($v: cover)
{
    background-size: $v;
}

@mixin animation($v)
{
    -webkit-animation: $v;
            animation: $v;
}

@mixin transform3d
{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            perspective: 800px;
    -webkit-perspective: 800px;
}

@mixin displayBox($v)
{
    display: -webkit-box;

    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line
{
    background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
    background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
    background:  -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity: .2,$maxOpacity:1)
{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
    background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
    background:  -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v: column)
{
    display:         flex;
    display: -webkit-flex;

    flex-flow: $v;
}
$baseColor: #99071e;
.acc-scan
{
    width: 70vw;
    height: 20vh;
    margin: 0 auto;

    border: 1px solid #ccc;

    @include br(3px);
    @include displayFlex(row);
    $btnColor: #2db7f5;
    .acc-ar-l
    {
        &:before
        {
            font-size: 40px;

            top: 50%;
            left: 50%;

            content: '<';
            cursor: not-allowed;

            @include pos(a);
            /*  height:0;
      border-top: 30px solid transparent;
      border-right: 40px solid #aaa;
      border-bottom: 30px solid transparent;
      top:50%;
      @include transform(translate3d(0,-50%,0)); */
            @include transform(scale(1,3) translate3d(-50%,-18%,0));
        }
    }
    .ar
    {
        width: 50px;

        cursor: pointer;
        -webkit-transition: .3s background,color .5s;
                transition: .3s background,color .5s;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: #fff;

        @include br(3px);
        @include pos(r);
        flex-grow: 1;
        &:hover
        {
            background: #e5e5e5;
        }
        &:hover
        {
            &:after,
            &:before
            {
                color: #fff !important;
            }
        }
        &.activeL
        {
            &:before
            {
                display: none;

                content: '';
            }
            &:after
            {
                font-size: 40px;

                top: 50%;
                left: 50%;

                height: 20vh / 3;

                content: '<';
                text-align: center;

                @include pos(a);
                /* width:0;
        left: 10px;
        height:0;
        border-top: 30px solid transparent;
        border-right: 40px solid  $btnColor;
        border-bottom: 30px solid transparent; */
                @include transform(scale(1,3) translate3d(-50%,-18%,0));
            }
        }
        &.activeR
        {
            &:before
            {
                display: none;

                content: '';
            }
            &:after
            {
                font-size: 40px;

                top: 50%;
                left: 50%;

                content: '>';

                @include pos(a);
                @include transform(scale(1,3) translate3d(-50%,-18%,0));
            }
        }
    }
    .acc-ar-r
    {
        &:before
        {
            font-size: 40px;

            top: 50%;
            left: 50%;

            content: '>';
            cursor: not-allowed;

            @include pos(a);
            @include transform(scale(1,3) translate3d(-50%,-18%,0));
        }
    }
    .acc-upload
    {
        line-height: $size;

        height: $size;
        margin-top: 2vh;

        cursor: pointer;

        border: 1px solid #e5e5e5;

        $size: 14vh;
        @include pos(r);
        &:before,
        &:after
        {
            top: 50%;
            left: 50%;

            width: $size - 2;
            height: 10px;
            margin-top: -5px;
            margin-left: - ($size - 2 ) / 2;

            content: '';

            background: #e5e5e5;

            @include pos(a);
            @include br(4px);
        }
        &:after
        {
            top: 50%;
            left: 50%;

            width: 10px;
            height: $size - 2;
            margin-top: - ($size - 2 ) / 2;
            margin-left: -5px;

            content: '';

            background: #e5e5e5;

            @include br(4px);
        }
    }
    .acc-scan-C
    {
        overflow: hidden;

        width: 100px;
        height: 16vh;
        margin-top: 2vh;

        align-items: center;
        align-content: center;
        flex-grow: 20;
        ul
        {
            width: 100%;
            height: 100%;

            @include transition_transform(.2s);
            @include displayFlex(row);
            li
            {
                box-sizing: border-box;
                height: 100%;
                margin: 0 4px;

                border: 1px solid #ccc;
                //@include transform(scale(.7));
            }
        }
    }
}