@mixin pos($v) {
  @if $v == a {
  position: absolute;
} @else if $v == r {
  position: relative;
} @else if $v == f {
  position: fixed;
}
}

@mixin br($v:50%) {
  border-radius: $v;
}
@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


.ant-modal{

}


.zmiti-cate-line{

  width:100%;
  @include transform(scaleY(.23));
  border-top:1px solid #ccc;
  margin:5px 0;

}

.zmiti-img-list-C{
  .zmiti-img-list-item{
    margin:5px;
    cursor:pointer;
    &.active{
      @include pos(r);
      &:before{
        content: '';
        background:rgba(0,0,0,.5) url('../richimg/static/images/checked.png') no-repeat center center;
        @include pos(a);
        left:0;
        top:0;
        width:100%;
        height:100%;
      }
    }
  }
  .wf-column{
    float: left;
  }
}
  .ant-modal.zmiti-upload-C{
     .ant-menu-inline{
       height:99%;
     }
     .ant-modal-body {
       height:500px;
       width:100%;
     }
    div[contenteditable=true]{
      float: left;
    }
   }



$baseColor:#99071e;

.zmiti-upload-body{
  height:100%;
  @include displayFlex(row);
  .zmiti-upload-body-L,.zmiti-upload-body-R{
    height:100%;
  }
  .zmiti-upload-body-L{
    width:240px;
    $liH:42px;
    border-right:1px solid #ccc;
    @include pos(r);

    @for $i from 0 through 5{
      .zmiti-sub-menu-#{$i}{
        &:before{
          @include transition_transform(.3s);
          @include transitionTimingFunction(cubic-bezier(.645,.045,.355,1));
          content:"";
          @include pos(a);
          right:0;
          height: $liH;
          width:1px;
          @include transform(translate3d(0,$i*$liH,0));
          background:$baseColor;
        }
      }
    }

    div{
      @include pos(a);
      bottom:-15px;
      button{
        margin:0 2px;
      }
    }


    ul{
      width:100%;
      li{

        height: $liH;
        line-height: $liH;
        padding-left:30px;
        cursor: pointer;
        box-sizing: border-box;
        margin:1px 0 0 -17px;

        @include transition( all 0.4s);
        @include transitionTimingFunction(cubic-bezier(0.645, 0.045, 0.355, 1));

        &.zmiti-sub-menu{
          padding-left:50px;
        }
        &.active{
          color:$baseColor;
        }
        &:hover{
          color:$baseColor;
        }
        &:nth-of-type(3){
          color:#ccc;

        }

        &.zmiti-sub-menu:hover{
        }

      }
    }
  }

  .zmiti-upload-body-R{
    width:740px;
    padding-left:10px;
    height:100%;
    article{
      @include pos(r);
    }
  }
  .zmiti-asset-C{
    @include pos(a);
    opacity: 0;
    z-index:-1;
    &.active{
      opacity: 1 ;
      z-index:1 ;
    }
    $assetH:30px;
    width:100%;
    height: 100%;
    .zmiti-edit-btn{

      top:10px;
      font-size:15px;
      cursor: pointer;
      button{
        margin-right:10px;
      }
    }
  }

  .zmmiti-asset-content{
    height:400px;
    overflow:auto;
    .zmiti-img-figure-C{


      input[type='file']{
        opacity:0;
        @include pos(f);
        z-index:-1;
      }

      @include displayFlex(row);
      flex-wrap: wrap;
      align-items: center;

      figcaption{
        width:134px;
        height:134px;
        border:1px solid #ccc;
        &.active{
          &:before{
            content: '';
            @include pos(a);
            width:100%;
            height:100%;
            background:rgba(0,0,0,.5) url('../richimg/static/images/checked.png') no-repeat center center;
            z-index:1;


          }
        }
        margin:2px;
        box-sizing: border-box;
        @include br(1px);
        background:#eaeaf0;
        //overflow: hidden;
        &.overflow{
          //overflow: hidden;
        }

        @include pos(r);
        &:not(:first-of-type):hover{
          border-color:#f00;
        }
        &:hover img{
          @include transform(scale(.9));
        }
        &:hover .zmiti-img-info{
          opacity: 1;
        }
        .zmiti-img-C{
          width:100%;
          height: 140px;
          overflow: hidden;

        }
        .zmiti-img-info{
          width:100%;
          height:40px;
          @include pos(a);
          bottom:0;
          @include transition(.2s);

          opacity: 0;
          background:#fff;
          line-height:40px;
          @include displayFlex(row);
          .zmiti-img-i{
            margin-left: 4px;
            flex-grow: 10;
            span{
              margin:0 4px;
            }
          }
          section:nth-of-type(2){
            flex-grow: 1;
            text-align:left;
            margin-right:10px;
            @include pos(r);
            &:before{
              content: '';
              @include pos(a);
              width:1px;
              left:-4px;
              height:20px;
              top:10px;
              @include fly-v-gradient-line();
            }
          }
        }
        img{
          @include pos(r);
          @include transition_transform(.2s);
        }
      }
      figcaption:first-of-type{
        cursor:pointer;
        text-align: center;

        i{
          font-size:70px;
          color:#d9d9dc;
          margin-top:15px;
          font-weight: bold;
        }
        div{
          margin-top:8px;
          font-size:16px;
        }
      }

    }
  }
}




.zmiti-upload-tool-C{
  display: none;
  @include displayFlex(row);
  padding-bottom:10px;
  margin-bottom:10px;
  @include pos(r);
  height:60px;
  line-height:60px;
  margin-top:-20px;
  &:before{
    content: '';
    @include pos(a);
    bottom:0;
    left:0;
    width:100%;
    height:1px;
    @include fly-h-gradient-line;
  }
  &>div{
    flex-grow: 1;
    &:nth-of-type(1){
      text-align: left;
      button:nth-of-type(2){
        margin-left:10px;
      }
    }
    &:nth-of-type(2){
      text-align: right;
    }
  }
}
.zmiti-asset-menu{
  display: none;
}