html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

@mixin pos($v) {
  @if
  $v == a {
  position: absolute;
} @else if $v == r {
  position: relative;
} @else if $v == f {
  position: fixed;
}
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}
@mixin boxsizing(){
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}
@mixin childrenflex($v:1){
  -ms-flex: $v; 
  -webkit-flex: $v; 
  flex: $v; 
  -webkit-box-flex: $v; 
  -moz-box-flex: $v; 
  -ms-flex: $v;
}

@mixin rotate($v:270deg,$k:0.6){
  -webkit-transform: rotate($v) scale($k);
  -ms-transform: rotate($v) scale($k);
  transform: rotate($v) scale($k);
}
.zmiti-folder-main-ui{
  overflow:auto;  
  display: flex;  
  flex-direction: column;
  .pad-10-a{
    padding:10px 10px 0 10px;
  }
  .pad-10-b{
    padding:0 10px;
  }
  .zmiti-folder-header-inner{
    padding-left: 8px;
    margin-top: 10px;
    @include pos(r);
    &:before{
      content: '';
      @include pos(a);
      width:2px;
      height:100%;
      background:#88B7E0 ;
      left:0;
      @include transform(scale(1,.7));
    }
  }
  .zmiti-folder-button-right button{
    float:right;
    margin-top: 5px;
    margin-left:10px;
  }
  .zmiti-folder-line{
    height:15px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
  }
  .folder-heigth45{
    height: 45px;
      line-height: 45px;
      overflow: hidden;
  }
  .folder-heigth20{
    height: 20px;
      line-height: 20px;
      overflow: hidden;
  }
  .folder-search {
      margin: 15px 0;
  }
  .zmiti-folder-container{
    @include boxsizing();
    position: relative;
    flex:1;
  }
  .zmiti-folder-treelist {
    .ant-tree li{
      span.ant-tree-iconEle{
        background-repeat: no-repeat;
        background-size: cover;
      }
      span.ant-tree-iconEle.ant-tree-icon__close:before{
        font-family: anticon!important;
        content: "\e662";
        @include rotate(0deg,1);
      }
      span.ant-tree-iconEle.ant-tree-icon__open:before{
        font-family: anticon!important;
        content: "\e699";
        @include rotate(0deg,1);
      }
    }
  }
  .zmiti-folder-mainpane{
    display: flex;
    display: -webkit-flex;
    height: 100%;
    .zmiti-folder-leftpane{
      border-right:1px solid #dddddd;       
      width:200px;
      height: 100%;
      flex:0 0 200px;
      -ms-flex: 0 0 200px;
      -webkit-flex:0 0 200px;
      order:-1;
    }
    .zmiti-folder-rightpane{
      @include childrenflex(1);
      .zmiti-folder-rightpane-inner{
        padding: 5px;
        @include boxsizing();
      }
    }
  }
}

