
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

@mixin pos($v) {
  @if
  $v == a {
    position: absolute;
  } @else if $v == r {
    position: relative;
  } @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column,$hC:center,$vC:center) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
  justify-content: $hC;
  align-items: $vC;
}

.zmiti-richimg-C{
    flex-grow: 1;
    width:250px;
    height:auto;
    border:1px solid #ccc;
    padding:7px;
    @include br(5px);
    margin:4px 10px;

  .zmiti-name{
    margin-top:8px;
  }
  .zmiti-athor-C{
    @include displayFlex(row,flex-start);
    aside{
      flex-grow: 1;
      i{margin:0 5px;
        cursor: pointer;
      }
      &:nth-of-type(2){
        text-align: right;
        color:#f38142;
      }
    }
  }
}