@mixin pos($v) {
  @if
  $v == a {
  position: absolute;
} @else if $v == r {
  position: relative;
} @else if $v == f {
  position: fixed;
}
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


.fly-tag{
  .tag{
    cursor: move;
    @include pos(a);
    $tagW:50px;
    width:$tagW;
    height:$tagW;
    aside{
      $pointW:10px;
      .point{
        opacity:0;
        width:$pointW;
        height: $pointW;
        background:#eee;
        border:1px solid #000;
        box-sizing: border-box;
        @include pos(a);
        left:-$pointW/2;
        top:-$pointW/2;
        z-index:10;
      }
      .point2{
        left:auto;
        right:-$pointW/2;
      }
      .point3{

        top:auto;
        bottom:-$pointW/2;
      }
      .point4{
        left:auto;
        top:auto;
        right:-$pointW/2;
        bottom:-$pointW/2;
      }
    }
    .ico{
      @include pos(a);
      left:50%;
      top:50%;
      @include transform(translate3d(-50%,-50%,0));
      width:$tagW/2;
      height:$tagW/2;
      background: url(../images/blue-plain.png) no-repeat center center;
      background-size:contain;
    }

  }
  @include pos(a);

  height:50px;
  width:100%;

  border-radius: 3px;
  z-index:10;


  @at-root .rm-tag-remark{
    padding:4px 6px;
    @include br(5px);
    height:auto;
    background: #fff;
    @include pos(a);
    box-sizing: border-box;
    &:before{
      content:"";
      @include pos(a);
      width:10px;
      height:10px;
      @include transform(rotate(45deg));
      background:#fff;
      bottom:-5px;
      margin-left:-5px;
      left:50%;
    }
  }
}