@import "../../../public/css/base.scss";
.viewcustombooklist-main-ui{
	overflow: auto;
	.zmiti-viewcustombooklist-header-inner{
		padding-left: 8px;
		margin-top: 10px;
		@include pos(r);
		&:before{
			content: '';
			@include pos(a);
			width:2px;
			height:100%;
			background:#88B7E0 ;
			left:0;
			@include transform(scale(1,.7));
		}
	}
	.zmiti-viewcustombooklist-button-right button{
		float:right;
		margin-top: 5px;
		margin-left:10px;
	}
	.zmiti-viewcustombooklist-line{
		height:15px;
		overflow: hidden;
		border-bottom: 1px solid #dddddd;
	}
	.zmiti-viewcustombooklist-key{
		text-align: center;
	}
	.zmiti-viewcustombooklist-select{
		width:130px;
	}
	.zmiti-viewcustombooklist-search{
		width:230px;
	}

}
.zmiti-viewcustombooklist-picture{
	width:100px;
	height:100px;
	border:1px #cccccc solid;
	float:right;
	img{
		width:98px;
		height:98px;
		display: block;
	}
}
.zmiti-viewcustombooklist-spaces{
	width:160px;
}
.zmiti-viewcustombooklist-upload{
	position: relative;
	width:100px;
	height:28px;
	overflow:hidden;
	zoom:1;
	button{
		position: absolute;
		width:100px;
		height:28px;
		left:0;
		top:0;
		z-index:1;
	}
	input{
		position: absolute;
		width:160px;
		height:28px;
		left:0;
		top:0;
		z-index:2;
		opacity:0;
		cursor: pointer;
	}
}
