html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.position(a) {
  position: absolute;
}

.position(r) {
  position: relative;
}

.position(f) {
  position: fixed;
}

.opacity(@value:0) {
  opacity: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  transform: @value;
}

.transformOrigin(@value) {
  -webkit-transform-origin: @value;
  transform-origin: @value;
}

.background(@bg) {
  background: @bg;
}

.backgroundSize(@value:cover) {
  background-size: @value;
}

.transition_transform(@value) {
  -webkit-transition: -webkit-transform @value;
  transition: transform @value;
}

.transform_origin(@value:center) {
  -webkit-transform-origin: @value;
  transform-origin: @value;
}

.transition(@value) {
  -webkit-transition: @value;
  transition: @value;
}
.transitionDelay(@time:0){
  -webkit-transition-delay: @time;
  transition-delay: @time;
}

.transitionTimingFunction(@value:cubic-bezier(1, -0.025, 1, 0.865)) {
  -webkit-transition-timing-function: @value;
  transition-timing-function: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  transform: @value;
}

.background(@bg) {
  background: @bg;
}

.backgroundSize(@value:cover) {
  background-size: @value;
}

.animation(@value) {
  -webkit-animation: @value;
  animation: @value;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
.displayBox(@value) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: @value;
}

.displayFlex(@val:column){
  display: flex;
  display: -webkit-flex;
  flex-flow: @val;
}

.fly-h-gradient-line{
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

.fly-v-gradient-line(@minOpacity:.2,@maxOpacity:1){
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, @minOpacity)), color-stop(0.5, rgba(204, 204, 204, @maxOpacity)), to(rgba(204, 204, 204, @minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, @minOpacity), rgba(204, 204, 204, @maxOpacity) 50%, rgba(204, 204, 204, @minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, @minOpacity), rgba(204, 204, 204, @maxOpacity) 50%, rgba(204, 204, 204, @minOpacity));
}


body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 14px;
  height: 100%;
}
#fly-main{
  .main{
    box-sizing: border-box;


    .ant-menu-item{
      img{width:14px;vertical-align: middle;}
    }

    @headerH:50px;
    width:100vw;
    height:100vh;
    .fly-header{
      flex-grow: 0;
      width:100vw;
      height:@headerH;

      .fly-main-product-service-C{
         background:#fff;
         width:100vw;
         height:80vh;
         color:#000;
         .position(f);
         left:0;
         top:50px; 
         z-index: 99999;
         div.fly-cate-C{
             border-right: 1px solid #eee;
             height:300px;
             padding-top:16px;
            ul{
              
           }
         }
         .fly-service-list{
          width:100px;
          li{
            a:before{display: none;}
          }
         }

         .fly-service-item{
           width:80%;
           height:32px;
           margin-left: 20%;
           line-height: 32px;
           box-sizing: border-box;
           padding-left: 20px;
           text-align: left;
           &.active{
              background:#00c1de;
              color:#fff;
           }
         }
      }

      .displayFlex(row);
     
      border-left: none;
      border-right:none;
      background:#373d41;
      color:#fff;
      box-sizing: content-box;
      .curAcc{
        color:#fff;
        font-weight: normal;
      }
      div.fly-nav{
        .transform3d;
        a{
          color:inherit;
          &:hover{
            background: #2a2f32;
          }
         
        }
      }
      
      div{
        text-align: center;
        line-height:@headerH;
        flex-grow: 1;
        &:nth-of-type(7){
          flex-grow: 5;
        }
        .position(r);
        a{
          display: block;
          color:#000;
          left:0;
          top:0;
          font-size:14px;
          width: 100%;
          height:100%;
          .position(r);
          &:before{
            content: '';
            .position(a);
            right:0;
            top:0;
            width:1px;
            height:100%;
            background:#2a2f32;
          }
        }
      }
      div.fly-logo{
        flex-grow: 0;
        width:180px !important;
        //background:#a40b16;
        text-align: center;
        line-height:@headerH;
        img{
          height:100%;
          width:auto;
        }
      }
    }
    @baseColor:#99071e;
    .fly-content{
      width:100vw;
      flex-grow: 10;
      .displayFlex(row);
      .fly-left-aside{
        .position(r);
        width:181px;
        background:#333645;
        height: 100vh;
        top: -1px;
        overflow: hidden;
        .transition(.2s);
        .fly-menu-c{
          .transition(.2s opacity -.2s);

        }
        &.unfold{
          width:60px;
        }

        .ant-menu-item{
          padding-left:24px !important;
        }
        .fly-toggle-menu{
          color:#fff;
          text-align: center;
          cursor: pointer;
          height:30px;
          line-height:30px;
          font-size:24px;
          background: #394555;
        }
        .ant-menu{
          background:#333645;
          position: relative;
          li{
            color:#fff;

            &.ant-menu-submenu-active{
              .ant-menu-submenu-title{
                background:@baseColor !important;
              }

            }
            &.ant-menu-item-active{
              background:@baseColor !important;
            }
          }
        }
        .ant-menu-item-selected{
          background:@baseColor;
        }
      }


      .fly-right-aside{
        .position(r);
        
        //overflow: hidden;
        iframe{
          left:0;
          top:0;
          width:100%;
          z-index:100;
          overflow: hidden;
          right:0;
          .position(a);
          height:100%;
          border:none;
        }
      }
    }
    .fly-menu-bottom{
      .position(a);
      bottom:0px;
      left:0;
      text-align: center;
      height:40px;
      line-height:40px;
      width:100%;
      color: #ffffff;
      .transition(background .5s);
      &:hover{
        background:@baseColor;
      }
    }
    .icon{
      cursor: pointer;
      font-size:22px;
      width:30px;
      color:#fff;
      &:before,&:after{
        content: '';
        .position(a);
        right:0;
        top:0;
        width:1px;
        height:100%;
        background:#2a2f32;
      }
      &:after{
        left:0;
      }
    }
    .fly-search,.fly-msg{
      &:hover{
         background: #2a2f32;
      }
    }
    .fly-search{
      font-weight:bold;
      padding:0 10px;
      
      div{

        display: inline-block;
        padding:0 10px;
      }
      i{
        display: inline-block;
        padding:10px;
        font-weight: normal;
        box-sizing:border-box;
      }
      input{
        border-radius: 0;
      }
      &:before{
        opacity:0;
      };

    }
  }
}


.ant-menu-item > a {
  display: inline !important;
  color:#fff !important;
}

.ant-menu-item:hover a{
  color:#fff !important;
}
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color:#fff !important;
}

  .ant-menu-submenu{
    background: #42485B;

  }
  .ant-menu{
    

  }

  .ant-menu-vertical > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-item-group-list > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title{
    height: 40px !important;
    line-height: 40px !important;
  }


.fly-nav-custom-modal{
  .ant-modal-body{
    padding:0;
  }
  .ant-modal-header {
    background: #293038;
    display: none;
    color:#Fff;
    border-color: #293038;
  }
  .ant-modal-footer{
    display: none;
     background: #293038;
    color:#Fff;
    border-color: #293038;
  }
  .fly-nav-left-C{
    background: #293038;
    color:#fff;
  }
  .fly-nav-title-bar{
    width:100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #394555;
  }
  .fly-nav-content-C{
    height: 400px;
    overflow-y: auto;
  }

}

