html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
input,
textarea {
  outline: none;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
.fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, 0.2)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  background: #f1f1f1;
}
#fly-main {
  height: 100%;
}
.main {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}
.header {
  height: 50px;
  width: 100%;
  background: #eaf0f7;
  padding-left: 30px;
  line-height: 50px;
}
.header a {
  color: #9cb3bb;
}
.fly-content {
  flex-grow: 1;
}
.fly-user,
.fly-office {
  width: 98vw;
  margin: 20px auto;
  height: 300px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.fly-user figure,
.fly-office figure {
  flex-grow: 1;
  height: 100%;
  width: 400px;
  background: #eee;
}
.fly-user figure:nth-of-type(2),
.fly-office figure:nth-of-type(2) {
  margin: 0 10px;
}
.fly-user .user-info {
  flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 80%;
  margin: 20px auto 10px;
}
.fly-user .user-info aside {
  position: relative;
  height: 160px;
  font-size: .8vw;
  flex-grow: 1;
}
.fly-user .user-info aside:nth-of-type(1):before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.2)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.2)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, 0.2), #cccccc 50%, rgba(204, 204, 204, 0.2));
}
.fly-user .user-info aside:nth-of-type(2) {
  flex-grow: 3;
}
.fly-user .user-info aside div.head {
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  margin: 35px auto;
  border: 1px solid #99071e;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.fly-user .user-info aside:nth-of-type(2) {
  margin-left: 20px;
  margin-top: 20px;
}
.fly-user .user-info aside:nth-of-type(2) div {
  line-height: 35px;
}
.fly-user .user-info aside:nth-of-type(2) div .current-user {
  font-size: 30px;
}
.fly-user .user-info aside:nth-of-type(2) div.account {
  color: #aaa;
}
.fly-user .user-info aside:nth-of-type(2) .last-time {
  color: #99071e;
}
.fly-user .user-info aside:nth-of-type(2) .last-time a {
  color: #6587b3;
}
.fly-user .capacity {
  width: 80%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.fly-user .capacity .fly-progress {
  flex-grow: 9;
}
.fly-user .capacity .dilatation {
  flex-grow: 1;
  width: 80px;
  margin-left: 10px;
  font-size: .8vw;
  line-height: 20px;
}
.fly-user .capacity .ant-progress-line-bg {
  background: #00ada7;
}
.fly-user .capacity .ant-progress-line-inner {
  padding: 1px;
  background: #fff;
}
.fly-user .user-count {
  width: 80%;
  margin: 20px auto;
  height: 20px;
  line-height: 20px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.fly-user .user-count div.u-info:nth-of-type(1) {
  width: 40px;
}
.fly-user .user-count div.u-info:nth-of-type(2) {
  flex-grow: 14;
  margin-left: 10px;
}
.fly-user .user-count div.u-info:nth-of-type(3) {
  margin-left: 10px;
  flex-grow: 1;
}
.fly-user .user-count div.u-info:nth-of-type(3) a {
  font-size: .8vw;
}
.fly-office .office {
  flex-grow: 2;
}
.fly-office .work {
  flex-grow: 1;
}
.fly-office figure {
  height: 100%;
}
.fly-office figure:nth-of-type(1) {
  margin: 0 0 0 0;
}
.fly-office figure:nth-of-type(2) {
  margin: 0 0 0 0;
}
