html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

input, textarea {
  outline: none;
}

.position(a) {
  position: absolute;
}

.position(r) {
  position: relative;
}

.position(f) {
  position: fixed;
}

.opacity(@value:0) {
  opacity: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  transform: @value;
}

.transformOrigin(@value) {
  -webkit-transform-origin: @value;
  transform-origin: @value;
}

.background(@bg) {
  background: @bg;
}

.backgroundSize(@value:cover) {
  background-size: @value;
}

.transition_transform(@value) {
  -webkit-transition: -webkit-transform @value;
  transition: transform @value;
}

.transform_origin(@value:center) {
  -webkit-transform-origin: @value;
  transform-origin: @value;
}

.transition(@value) {
  -webkit-transition: @value;
  transition: @value;
}

.transitionTimingFunction(@value:cubic-bezier(1, -0.025, 1, 0.865)) {
  -webkit-transition-timing-function: @value;
  transition-timing-function: @value;
}

.transform(@value) {
  -webkit-transform: @value;
  transform: @value;
}

.background(@bg) {
  background: @bg;
}

.backgroundSize(@value:cover) {
  background-size: @value;
}

.animation(@value) {
  -webkit-animation: @value;
  animation: @value;
}

.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
.displayFlex(@val:column){
  display: flex;
  display: -webkit-flex;
  flex-flow: @val;
}

.fly-h-gradient-line{
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

.fly-v-gradient-line(@minOpacity:.2,@maxOpacity:1){
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, @minOpacity)), color-stop(0.5, rgba(204, 204, 204, @maxOpacity)), to(rgba(204, 204, 204, @minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, @minOpacity), rgba(204, 204, 204, @maxOpacity) 50%, rgba(204, 204, 204, @minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, @minOpacity), rgba(204, 204, 204, @maxOpacity) 50%, rgba(204, 204, 204, @minOpacity));
}

.displayBox(@value) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: @value;
}

.borderRadius(@val:50%){
  -webkit-border-radius: @val;
  border-radius: @val;
}

@bgColor:#f1f1f1;
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  background:@bgColor !important;
}
@baseColor:#99071e;
#fly-main{
  height:100%;

}

.main{
  height:100%;
  .displayFlex();

}
.header{
  @headerH:50px;
  height:@headerH;
  width:100%;
  background:#eaf0f7;
  padding-left:30px;
  line-height:@headerH;
  a{
    color:#9cb3bb;
  }
}
.fly-content{
  flex-grow:1;
}
.fly-user,.fly-office{
  width:98vw;
  margin:20px auto;
  height:300px;
  .displayFlex(row);

  figure{
    flex-grow: 1;
    height:100%;
    width:400px;
    background:#fff;
    &:nth-of-type(2){
      margin:0 10px;
    }
  }
}

.fly-user{

  .user-info{
    flex-grow: 1;
    .displayFlex(row);
    width:80%;
    margin:20px auto 10px;
    aside{
      .position(r);
      height:160px;
      font-size: .8vw;
      &:nth-of-type(1):before{
        content: '';
        .position(a);
        right: 0;
        top:0;
        width:1px;
        height:100%;
        .fly-v-gradient-line;
      }
      flex-grow: 1;
      &:nth-of-type(2){
        flex-grow: 3;
      }
      div.head{
        width:100px;
        height:100px;
        overflow: hidden;
        padding:10px;
        box-sizing:border-box;
        margin:35px auto;
        border:1px solid @baseColor;
        .borderRadius();

      }

      &:nth-of-type(2){
        margin-left:20px;
        margin-top:20px;
        div{
          line-height:35px;
          .current-user{
            font-size:30px;
          }
        }
        div.account{
          color:#aaa;
        }
        .last-time{
          color:@baseColor;
          a{color:#6587b3;}
        }
      }
    }
  }

  .capacity{
    width:80%;
    margin:0 auto;
    .displayFlex(row);
    .fly-progress{
      flex-grow: 9;
    }
    .dilatation{
      flex-grow: 1;
      width:80px;
      margin-left:10px;
      font-size:.8vw;
      line-height:20px;
    }
    .ant-progress-line-bg{
      background:#00ada7;
    }
    .ant-progress-line-inner{
      padding:1px;
      background:#fff;
    }
  }

  .user-count{
    width:80%;
    margin:20px auto;
    height:20px;
    line-height:20px;
    .displayFlex(row);
    div.u-info{
      &:nth-of-type(1){
        width:40px;
      }
      &:nth-of-type(2){
        flex-grow: 14;
        margin-left:10px;
      }
      &:nth-of-type(3){
        margin-left:10px;
        flex-grow: 1;
        a{
          font-size:.8vw;
        }
      }
    }
  }

  .module-container{

    width:96%;
    height:96%;
    margin:1% auto;
    overflow: hidden;
    .position(r);
    .ar{
      .position(a);
      width:2.3vw;
      height:2.3vw;
    }
    .ar:before{
      content:"";
      .position(a);
      left:10px;
      top:8px;
      width:1.3vw;
      height:1.3vw;
      .transform(rotate(45deg));
      border:1px solid #999;
      border-right:none;
      border-top:none;
      cursor: pointer;
      z-index:10;

    }

    .ar.active:before{
      content: '';
      border-color:#00ada7;
      border-width:3px;
      box-sizing: content-box;
    }
    .ar.error-active:before{
      content: '';
      border-color:red;
      border-width:3px;
      box-sizing: content-box;
    }

    .ar-right{
      right: 10px;
      left:auto;
      top:0;
    }
    .ar-right:before{
      content: "";
      .transform(rotate(-135deg));
    }
    .module-item-c{

      .transition_transform(.2s);
      width:100%;
      height:220px;
      .displayFlex(row);
      article{
        flex-grow: 1;
        text-align: center;
        .title{
          font-size:1.2vw;
          color:#999;
          height:40px;
          line-height:40px;
          .position(r);
          &.active:after{
            content:"";
            .position(a);
            right:-5px;
            top:0;
            width: 1px;
            height:100%;
            .fly-v-gradient-line();
          }
        }
        .store{
          margin-top:30px;
          font-size: 1.1vw;
          height:40px;
          line-height:40px;
          span{border-bottom: 2px solid #ec6c56}
        }
      }
    }
  }
}
.fly-office{

  .office{
    flex-grow: 2;
  }
  .work{
    flex-grow: 1;
  }
  figure{
    height:100%;
    &:nth-of-type(1){
      margin:0 0 0 0;
    }
    &:nth-of-type(2){
      margin:0 0 0 0;
    }
  }
}
