@import "../../../public/css/base.scss";

@at-root .padding-10{
  padding:10px;
}
@at-root .lef{
  text-align: left;
}
@at-root .rig{
  text-align: right;
}
@at-root .cen{
  text-align: center;
}
.workorderquestion-main-ui{

  .zmiti-workorder-header-inner{
    padding-left: 8px;
    margin-top: 10px;
    @include pos(r);
    &:before{
      content: '';
      @include pos(a);
      width:2px;
      height:100%;
      background:#88B7E0 ;
      left:0;
      @include transform(scale(1,.7));
    }

  }
  .zmiti-workorder-button-right button{
    float:right;
    margin-top: 5px;
  }
  .zmiti-workorder-line{
    height:15px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
  }
  .workorderquestion-row-magin20{
    margin: 20px 0;
  }
  .workorderquestion-inputTitle{
    text-align: right;
  }
  .workorderquestion-inputContent{
    height: 100px;
  }
  .workorderquestion-width30{
    width: 30px;
  }
  .red{
    color: #ff0000;
  }
  .green{
    color:#00ada7;
  }
  .workorder-table{
    border: 1px solid #e1e6eb;
    margin-top: 15px;
    background:#FFffff;
    .ant-layout-header{
      background: #F5f6FA;
      border-left: 4px solid #6d7781;
      padding-left: 16px;
      height: 38px;
      line-height: 38px;
      overflow: hidden;
      border-bottom: 1px solid #e1e6eb;

    }
    .zmiti-workorder-table-row{
      padding: 30px;
      .workorder-table-col-title{
        float: left;
        width: 75%;
      }
      .workorder-table-col-button{
        float: right;
        width: 25%;
        text-align: center;
        padding: 3px 0px;

      }
      .workorder-table-col-content{
        padding-top: 5px;
        width: 100%;
        clear: both;
        font-size: 12px;
        color: #999999;
        line-height: 24px;
        font-family: "宋体";

      }
      .workorder-table-box{
        height: 50px;
        line-height: 50px;
        padding-left:25px;
        padding-right: 15px;
        background: #F5f6FA;
        margin-bottom: 10px;
        .workorder-table-col-button{
          margin-top: 10px;
        }
      }


    }
    .error-table{
      border: 1px solid red;
      color: red;
    }

  }

}